{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<nav class="floating-menu">
    <ul class="main-menu">
        <li>
            <a href="#description" class="ripple">
                <i class="fas fa-home fa-lg"><img src="{% static 'images/description.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#biblereferences" class="ripple">
                <i class="fas fa-user fa-lg"><img src="{% static 'images/bible.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#drawings" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/drawing.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#shortmovies" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/shortmovie.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#songs" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/song.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#movies" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/movie.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#testimonies" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/testimony.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#sermons" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/sermon.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#books" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/book.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        <li>
            <a href="#questions" class="ripple">
                <i class="far fa-user fa-lg"><img src="{% static 'images/questions.png' %}" width="40px" alt=""></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>


<!-- Background images contains a bug that it won't be displayed if multiple images are in the loop -->
<section class="ftco-daily-verse img" style="background-image: url('{% for image in images %}{{ image.file.url }}{% endfor %}');">
<div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 daily-verse pl-md-5 ftco-animate">        
                        <span class="subheading" style="padding-left: 20px;">{{ commandment.title }}</span>
                    </div>
                </div>
            </div>
        </div>                               
        <div class="row">
            <!-- {% if commandment.description %} -->
            <div id="description" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/description.png' %}" width="65px" alt="">
                        </div>
                        <div id="description" class="our-services-text">
                            <h4>{% trans 'Description' %}</h4>
                            {{ commandment.description }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- {% endif %} -->
            <div id="biblereferences" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/bible.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Bible References' %}</h4>
                            {% if primary_bible_references %}
                                <ul>
                                {% for bible_reference in primary_bible_references %}
                                    <li><b>{{ bible_reference }}</b> {{ bible_reference.text | safe }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if secondary_bible_references %}
                            <h4>{% trans 'More Bible References' %}</h4>
                                <ul>
                                {% for bible_reference in secondary_bible_references %}
                                    <li><b>{{ bible_reference }}</b> {{ bible_reference.text | safe }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}   
                        </div>
                    </div>
                </div>
            </div>
            <div id="drawings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/drawing.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Drawings' %}</h4>
                            {% if images %}
                            {% for image in images %}
                                <img src="{{ image.file.url }}" alt="{{ image.title }}" style="max-width:93%;max-height:93%;">
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="shortmovies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/shortmovie.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Short Movies' %}</h4>
                            <div class="video-iframe">
                                <iframe src="https://player.vimeo.com/video/263398045?dnt=1&app_id=122963" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:93%;height:93%;"></iframe>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
            <div id="songs" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/song.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Songs' %}</h4>
                            <div class="video-iframe">
                                <iframe src="https://www.youtube.com/embed/xXKG-ooExGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:93%;height:93%;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="movies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div id="movie" class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/movie.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Movies' %}</h4>
                            <p>Use all your senses to experience this commandment in the following movies:</p>
                            <ul>
                                <li> Great Movie 1</li>
                                <li> Super great Movie 2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="testimonies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/testimony.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Testimonies' %}</h4>
                            <p>Hear from others their experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sermons" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/sermon.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Sermons' %}</h4>
                            <div class="video-iframe">
                                <iframe src="https://www.youtube.com/embed/FrNamnkxzkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:93%;height:93%;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>              
            <div id="books" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/book.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Books' %}</h4>
                            <p>Want to dig deeper? Read these books:</p>
                            <ul>
                                <li> Great Book 1</li>
                                <li> Super great Book 2</li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>              
            <div id="questions" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/questions.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Questions' %}</h4>
                            <p>{% trans 'Share your hearts together by discussing the following questions:' %}</p>
                            <ul>
                                {% for question in questions %}
                                <li>{{ question.text }}</li>
                                {% endfor %}
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</section>

{% endblock %}