{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="ftco-daily-verse img" style="background-image: url({% static 'images/bg_4.jpg' %});">
        <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-2 ftco-animate">
                        <div class="icon">
                            <span class="flaticon-church"></span>
                        </div>
                    </div>
                    <div class="col-md-10 daily-verse pl-md-5 ftco-animate">
                        <span class="subheading">{{ commandment.title }}</span>
                        <h3>{{ commandment.description }}</h3>
                        <h4 class="h5 mt-4 font-weight-bold"><span>Bible:</span>{{ commandment.primarybiblereference }}</h4>
                        {% if bible_references %}
                        <h4 class="h5 mt-4 font-weight-bold">
                            <ul>
                            {% for bible_reference in bible_references %}
                                <li>{{ bible_reference }} {{ bible_reference.text | safe }}</a></li>
                            {% endfor %}
                            </ul>
                        </h4>
                    {% endif %}

                    {% if images %}
                        <ul>
                        {% for image in images %}
                            <li><img src="{{ image.file.url }}" alt="{{ image.title }}"></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}