{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="ftco-section bg-light" id="sermons-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
	<span class="subheading">John 14:15</span>
	<h2 class="mb-4"><span>{% trans 'If you love Me' %},</span> {% trans 'keep my commands' %}</h2>
	<p>{% trans 'This website will help you in applying all commandments in your life. How? For each commandment, we collect as much as possible related' %}
	<strong>{% trans 'Bible References, Drawings, Movies, Songs, Sermons, Pictures and Books' %}</strong> {% trans 'to feed your heart, soul and mind' %}</p>
	<p>{% trans 'All commandments are ideal for personal Bible study, Small Groups, Discipleship Groups, mentoring, ministry enrichment or meditations in how to improve your walk with the Lord' %} </p>
</div>
</div>
	<div class="row">
	{% if commandments %}
		{% for commandment in commandments %}
			{% include "commandments/single_commandment_overview.html" %}
		{% endfor %}
	{% else %}
		<p>{% trans 'No commandments are available.' %}</p>
	{% endif %}
</div>
</div>
</section>

{% endblock %}
