{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="ftco-counter" id="section-counter">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/list.png' %}" width="80px" alt="">
              	</div>
                <strong class="number" data-number="77">0</strong>
                <span>{% trans 'Unique commandments' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/bible.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="890">0</strong>
                <span>{% trans 'Bible references' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/languages.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="39">0</strong>
                <span>{% trans 'Languages' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/people.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="25">0</strong>
                <span>Contributers</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>


<section class="ftco-section bg-light" id="sermons-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
	<span class="subheading">John 14:15</span>
	<h2 class="mb-4"><span>{% trans 'If you love Me' %},</span> {% trans 'keep my commands' %}</h2>
	<p>{% trans 'This website will help you in applying all commandments in your life. How? For each commandment, we collect as much as possible related' %}
	<strong>{% trans 'Bible References, Drawings, Movies, Songs, Sermons, Pictures and Books' %}</strong> {% trans 'to feed your heart, soul and mind' %}</p>
	<p>{% trans 'All commandments are ideal for personal Bible study, Small Groups, Discipleship Groups, mentoring, ministry enrichment or meditations in how to improve your walk with the Lord' %} </p>
</div>
</div>
	<div class="row">
	{% if commandments %}
		{% for commandment in commandments %}
			{% include "commandments/single_commandment_overview.html" %}
		{% endfor %}
	{% else %}
		<p>{% trans 'No commandments are available.' %}</p>
	{% endif %}
</div>
</div>
</section>

{% endblock %}
