{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="ftco-section bg-light" id="sermons-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
	<span class="subheading">Commandments</span>
	<h2 class="mb-4">Jesus commandments</h2>
	<p>What did Jesus teach when walking the earth?</p>
  </div>
</div>
	<div class="row">
	{% if commandments %}
		{% for commandment in commandments %}
			{% include "commandments/single_commandment_overview.html" %}
		{% endfor %}
	{% else %}
		<p>No commandments are available.</p>
	{% endif %}
</div>
</div>
</section>

{% endblock %}
