{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="ftco-section bg-light" id="sermons-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Commandments</span>
                <h2 class="mb-4">{% trans 'Jesus commandments' %}</h2>
                <p>{% trans 'What did Jesus teach when walking the earth?' %}</p>
            </div>
        </div>
    <div class="row">
        {% if commandments %}
            {% for commandment in commandments %}
                {% include "commandments/single_commandment_overview.html" %}
            {% endfor %}
        {% else %}
            <p>{% trans 'No commandments are available.' %}</p>
        {% endif %}
    </div>
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <div class="pagination">
                    <span class="step-links">
                        {% if commandments.has_previous %}
                            <a href="?page=1">&laquo; {% trans 'first' %}</a>
                            <a href="?page={{ commandments.previous_page_number }}">{% trans 'previous' %}</a>
                        {% endif %}

                        <span class="current">
                            {% trans 'Page' %} {{ commandments.number }} of {{ commandments.paginator.num_pages }}.
                        </span>

                        {% if commandments.has_next %}
                            <a href="?page={{ commandments.next_page_number }}">{% trans 'next' %}</a>
                            <a href="?page={{ commandments.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
