{% load static %}
<div class="col-md-4">
    <div class="sermon-wrap ftco-animate">
        <div class="img d-flex align-items-center justify-content-center" style="background-image: url({% static 'images/1 - heb de Heer God lief met heel je hart.png' %});">
            <div class="text-content p-4 text-center">
                <span>by pastor:</span>
                <h3>Jerry Simon</h3>
                <p class="">
                        <a href="https://vimeo.com/45830194" class="btn-custom mb-2 p-2 text-center popup-vimeo"><span class="icon-play"></span> Watch</a>
                        <a href="#" class="btn-custom p-2 text-center"><span class="icon-download"></span> Download</a>
                    </p>
            </div>
        </div>
        <div class="text pt-3 text-center">
            <h2 class="mb-0"><a href="{% url 'commandments:detail' commandment.id %}">{{ commandment.quote }}</a></h2>
            <div class="meta">
                <p class="mb-0">
                    <span>{{ commandment.primarybiblereference }}</span>
                </p>
            </div>
        </div>
    </div>
</div>