{% extends "base.html" %}

{% block content %}

<h1>{{ calling.quote }} ({{ calling.primarybiblereference }})</h1>
<h2></h2>

<p>{{ calling.description }}</p>

{% if bible_references %}
    <ul>
    {% for bible_reference in bible_references %}
        <li>{{ bible_reference }} {{ bible_reference.text }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if images %}
    <ul>
    {% for image in images %}
        <li><img src="{{ image.file.url }}" alt="{{ image.title }}"></li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}