.idea
venv
__pycache__
dist
build
*.pyc
*.egg-info

*.sqlite3
*.sqlite3-journal

bible_api_cache.json

media

API_KEY.txt

jesus_commandments_website/jesus_commandments_website/settings.py
jesus_commandments_website/account_app/management/commands/import_users.py

# Compiled translation files
*.mo
