.idea
venv
__pycache__
dist
build
*.pyc
*.egg-info
*.vscode

*.sqlite3
*.sqlite3-journal
bible_lib/sources
bible_api_cache.json
.django_cache

walkasjesus_website/media
walkasjesus_website/log
walkasjesus_website/staticfiles

API_KEY.txt

walkasjesus_website/walkasjesus_website/settings.py
walkasjesus_website/account_app/management/commands/import_users.py

# Exclude specific Google Analytics gtag.js for specific country
walkasjesus_website/static/js/gtag.js

# Compiled translation files
*.mo
hsv_bible_lib/hsv_bible_lib/tests/path
hsv_bible_lib/hsv_bible_lib/tests/key
.DS_Store
walkasjesus_website/.DS_Store
walkasjesus_website/data/.DS_Store

