[submodule "walkasjesus_website/data/biblereferences"]
	path = walkasjesus_website/data/biblereferences
	url = https://github.com/walkasjesus/walkasjesus_biblereferences.git
[submodule "walkasjesus_website/data/media"]
	path = walkasjesus_website/data/media
	url = https://github.com/walkasjesus/walkasjesus_media.git
[submodule "walkasjesus_website/translations"]
	path = walkasjesus_website/translations
	url = https://github.com/walkasjesus/walkasjesus_translations.git
[submodule "walkasjesus_website/data/lawofmessiah"]
	path = walkasjesus_website/data/lawofmessiah
	url = https://github.com/walkasjesus/LawofMessiah.git
