[submodule "jesus_commandments_website/data/biblereferences"]
	path = jesus_commandments_website/data/biblereferences
	url = https://github.com/jesuscommandments/jesus_commandments_biblereferences
[submodule "jesus_commandments_website/data/resources"]
	path = jesus_commandments_website/data/resources
	url = https://github.com/jesuscommandments/jesus_commandments_resources
[submodule "jesus_commandments_website/translations"]
	path = jesus_commandments_website/translations
	url = https://github.com/jesuscommandments/jesus_commandments_translations
