# Application core
django>=5.1.4
pandas>=2.2.3
Pillow>=11.0.0
django-vinaigrette>=2.0.1
django-rosetta>=0.10.1
-e ../bible_lib
django-url-or-relative-url-field>=0.2.0
sorl-thumbnail>=12.11.0
mysqlclient>=2.2.6
django-cookie-law>=2.2.0
django-reversion>=5.1.0
whitenoise>=6.8.2
django-ckeditor-5>=0.2.15

# Tools
-e ../import_tool
-e ../translate_tool
polib>=1.2.0

# Monitoring
sentry-sdk>=2.19.2

# Debug and Development
django-debug-toolbar>=4.4.6

# Used to communicate with youtube
requests>=2.32.3
google-api-python-client>=2.156.0
oauth2client>=4.1.3
