{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% load watermark %}
{% block content %}
{% cache cache_timeout commandments_detail cache_on_bible commandment.id %}
<nav class="floating-menu">
    <ul class="main-menu">
        {% if commandment.devotional %}
        <li>
            <a href="#devotional" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Devotional' %}" src="{% static 'images/devotional.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#biblereferences" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Bible references' %}" src="{% static 'images/bible.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% if commandment.drawings %}
        <li>
            <a href="#drawings" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Drawings' %}" src="{% static 'images/drawing.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.pictures %}
        <li>
            <a href="#pictures" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Pictures' %}" src="{% static 'images/picture.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.questions %}
        <li>
            <a href="#questions" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Questions' %}" src="{% static 'images/questions.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.superbooks %}
        <li>
            <a href="#superbook" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Superbook' %}" src="{% static 'images/superbook.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.short_movies %}
        <li>
            <a href="#short_movies" class="ripple">
                <i><img src="{% static 'images/shortmovie.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.songs %}
        <li>
            <a href="#songs" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Songs' %}" src="{% static 'images/song.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.movies %}
        <li>
            <a href="#movies" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Movies' %}" src="{% static 'images/movie.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.testimonies %}
        <li>
            <a href="#testimonies" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Testimonies' %}" src="{% static 'images/testimony.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.blogs %}
        <li>
            <a href="#blogs" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Blogs' %}" src="{% static 'images/blog.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.sermons %}
        <li>
            <a href="#sermons" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Sermons' %}" src="{% static 'images/sermon.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if commandment.books %}
        <li>
            <a href="#books" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Books' %}" src="{% static 'images/book.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
    </ul>
    <div class="menu-bg"></div>
</nav>

<section class="ftco-daily-verse img" style="background-image: url('{% if commandment.background_drawing.img_url is not defined %}{{ commandment.background_drawing.img_url|watermark:'Watermark_JV,position=50%x50%,opacity=35' }}{% else %}{% static 'images/drawing_placeholder.png' %}{% endif %}');">
<div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 heading-section text-center ftco-animate">
                        <span class="subheading">{{ commandment.get_category_display }}</span>
                    </div>        
                    <div class="col-md-12 daily-verse pl-md-5 ftco-animate">
                        <span class="subheading">{{ commandment.id }} - {{ commandment.title }}</span>
                        <span class="subheading-negative"><p>{{ commandment.title_negative }}</p></span>
                    </div>
                </div>
            </div>
        </div>                               
        <div class="row">
            {% if commandment.devotional %}
            <div id="devotional" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/devotional.png' %}" width="65px" alt="">
                        </div>
                        <div id="devotional" class="our-services-text">
                            <h4>{% trans 'Devotional' %}</h4>
                            <p>{{ commandment.devotional | safe  }}</p>
                            {% if commandment.devotional_source is not defined %}<p><i>{{ commandment.devotional_source }}</i></p>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="biblereferences" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/bible.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Primary Bible Reference' %}</h4>
                            <p><i>{% trans 'A Primary reference is the first found unique reference according to the words of Jesus, directly related to the commandment' %}.</i></p>
                                <ul>
                                    <li><b>{{ commandment.primary_bible_reference }} {{ commandment.primary_bible_reference.text  }}</b></li>
                                </ul>
                            {% if commandment.direct_bible_references %}
                            <h4>{% trans 'Direct Bible References' %}</h4>
                            <p><i>{% trans 'Extra direct Bible references which expands or explain the same commandment' %}.</i></p>
                                <ul>
                                {% for bible_reference in commandment.direct_bible_references %}
                                    <li><b>{{ bible_reference }}</b> {{ bible_reference.text  }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if commandment.indirect_bible_references %}
                            <h4>{% trans 'Indirect Bible References' %}</h4>
                            <p><i>{% trans 'Extra, more indirect Bible references, relating to the same commandment' %}.</i></p>
                                <ul>
                                {% for bible_reference in commandment.indirect_bible_references %}
                                    <li><b>{{ bible_reference }}</b> {{ bible_reference.text  }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if commandment.example_bible_references %}
                            <h4>{% trans 'Example Bible References' %}</h4>
                            <p><i>{% trans 'In these Bible references you will find examples and testimonies how this commandment is being executed' %}.</i></p>
                                <ul>
                                {% for bible_reference in commandment.example_bible_references %}
                                    <li><b>{{ bible_reference }}</b> {{ bible_reference.text  }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if commandment.duplicate_bible_references %}
                            <h4>{% trans 'Duplicate Bible References' %}</h4>
                            <p><i>{% trans 'Another Bible reference to more or less the same as the primary, direct or indirect, with not much new information, although it will confirm the same Bible references' %}:</i></p>
                                <ul>
                                {% for bible_reference in commandment.duplicate_bible_references %}
                                    <li><b>{{ bible_reference }}</b></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if commandment.study_bible_references %}
                            <h4>{% trans 'Study Bible References' %}</h4>
                            <p><i>{% trans 'Extra Bible references (most often larger parts of Bible books) which are good for extra study on this commandment' %}:</i></p>
                                <ul>
                                {% for bible_reference in commandment.study_bible_references %}
                                    <li><b>{{ bible_reference }}</b></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <br>
                            <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endcache %}
            {% cache cache_timeout commandments_detail_media cache_on_multi_language commandment.id %}
            {% if commandment.drawings %}
            <div id="drawings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/drawing.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Drawings' %}</h4>
                            {% for drawing in commandment.drawings %}
                                <img src="{{ drawing.img_url|watermark:'Watermark_JV,position=50%x50%,opacity=35' }}" alt="{{ drawing.author }} - {{ drawing.title }}" style="max-width:97%;max-height:97%;">
                                {% if drawing.description != "nan" %}<p>{{ drawing.description }}</p>{% endif %}
                                <p>{% trans 'Artist' %}: {{ drawing.author }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.pictures %}
            <div id="pictures" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/picture.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Pictures' %}</h4>
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" style="width:97%;height:97%;">
                                        {% for picture in commandment.pictures|slice:":3" %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ picture.img_url }}" alt="{{ picture.author }}">
                                                <p>{% trans 'Photographer' %}: {{ picture.author }}</p>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{ picture.img_url }}" alt="{{ picture.author }}">
                                                <p>{% trans 'Photographer' %}: {{ picture.author }}</p>
                                        {% endif %}
                                            </div>
                                        {% endfor %}                                                    
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.questions %}
            <div id="questions" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/questions.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Questions' %}</h4>
                            <h5>{% trans 'Share your hearts together by discussing the following questions:' %}</h5>
                            <ul>
                                {% for question in commandment.questions %}
                                <li>{{ question.text }}</li>
                                {% endfor %}
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="mediasettings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mediasettings">
                <div class="alert alert-info alert-resource-settings" role="alert">
                    <div class="our-services-text">
                        <div class="resource-settings">
                            <h4>{% trans 'Resource Language Settings' %}</h4>
                            {% blocktrans %}Below you will find all kinds of related resources to this commandment, to help you grow. Resources can be Sermons, Testimonies, Movies, Shortmovies, Songs, Blogs or Books. You can select multiple languages if you like to see those resources in more languages.{% endblocktrans %}
                            <p><i>{% blocktrans %}Do you know more good resources in your language which can be added to this list? Please <a href="mailto:info@jesuscommandments.org">contact us</a> so we can add it (or <a href="">register</a> and you can add it yourself!{% endblocktrans %}</i></p>
                            <div class="btnResourceSettings">
                                <span><a href="javascript:void(0);" data-toggle="modal" data-target="#changeLanguageModal">{% trans 'Change resource language' %}</a></span>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
            {% if commandment.superbooks %}
            <div id="superbook" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/superbook.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Superbook' %}</h4>
                            {% for superbook in commandment.superbooks %}
                                <a href="{{ superbook.url }}" target="_blank"><img src="{{ superbook.img_url }}" alt="{{ superbook.author }} - {{ superbook.title }}" style="max-width:97%;max-height:97%;float: left;padding-right: 30px;"></a>
                                {% if superbook.description != "nan" %}<p>{{ superbook.description }}</p>{% endif %}
                                <br>
                                <p><b>{% trans 'Watch now on' %}: <a href="{{ superbook.url }}" target="_blank">{{ superbook.author }}</a></b></p>
                                <p style="clear: left;"> </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.short_movies %}
            <div id="short_movies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/shortmovie.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Short Movies' %}</h4>
                            {% for short_movie in commandment.short_movies %}
                            <h5>{{ short_movie.title }}</h5>
                            {% if short_movie.description != "nan" %}<p>{{ short_movie.description }}</p>{% endif %}
                            <div class="video-iframe">
                                <iframe src="{{ short_movie.url }}" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.songs %}
            <div id="songs" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/song.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Songs' %}</h4>
                            {% for song in commandment.songs %}
                            <h5>{{ song.author }} - {{ song.title }}</h5>
                            {% if song.description != "nan" %}<p>{{ song.description }}</p>{% endif %}
                            <div class="video-iframe">
                                <iframe src="{{ song.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.movies %}
            <div id="movies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div id="movie" class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/movie.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Movies' %}</h4>
                            {% for movie in commandment.movies %}
                            <h5>{{ movie.title }}</h5>
                            {% if movie.description != "nan" %}<p>{{ movie.description }}</p>{% endif %}
                            <div class="video-iframe">
                                <iframe src="{{ movie.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.testimonies %}
            <div id="testimonies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/testimony.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Testimonies' %}</h4>
                            {% for testimony in commandment.testimonies %}
                            <h5>{{ testimony.author }} - {{ testimony.title }}</h5>
                            {% if testimony.description != "nan" %}<p>{{ testimony.description }}</p>{% endif %}
                            <div class="video-iframe">
                                <iframe src="{{ testimony.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.blogs %}
            <div id="blogs" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/blog.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Blogs' %}</h4>
                            {% for blog in commandment.blogs %}
                            <h5><a href="{{ blog.url }}" target="_blank">{{ blog.author }} - {{ blog.title }}</a></h5>
                            {% if blog.description != "nan" %}<p>{{ blog.description }}</p>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if commandment.sermons %}
            <div id="sermons" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/sermon.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Sermons' %}</h4>
                            {% for sermon in commandment.sermons %}
                            <h5>{{ sermon.author }} - {{ sermon.title }}</h5>
                            {% if sermon.description != "nan" %}<p>{{ sermon.description }}</p>{% endif %}
                            <div class="video-iframe">
                                <iframe src="{{ sermon.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>              
            {% endif %}
            {% if commandment.books %}
            <div id="books" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/book.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Books' %}</h4>
                            {% for book in commandment.books %}
                            <div class="media">
                                <img class="d-flex align-self-start mr-3" style="max-width:20%;max-height:20%;" src="{{ book.img_url }}" alt="{{ book.author }} - {{ book.title }}">
                                <div class="media-body">
                                    </br>
                                    </br>
                                    <h5 class="mt-0 font-weight-bold">{{ book.author }} - {{ book.title }}</h5>
                                    {% if book.description != "nan" %}<p>{{ book.description }}</p>{% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>              
            {% endif %}
            {% if commandment.quote %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-12 daily-verse pl-md-5 ftco-animate fadeInUp ftco-animated">
                                <span class="subheading-quote"><p>"{{ commandment.quote }}"</p></span>
                                <h4 class="h5 mt-4 font-weight-bold"><span>{% trans 'Quote by' %}:</span> {{ commandment.quote_source }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>         
    </div>
</section>
{% endcache %}
{% endblock %}