{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block homebanner %}
{% cache cache_timeout commandments_index_banner cache_on_language %}
<section class="home-slider js-fullheight owl-carousel">
  
  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Becoming like Him' %}</span>
            </div>
            <h1 class="mb-4">{% blocktrans %}First Grace <span>then obedience</span>{% endblocktrans %}</h1>
            <p>{% trans 'Bringing people back to the heart of Christ' %}...</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover how' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Jesus Commandments' %}</span>
            </div>
            <h1 class="mb-4"><span>{% trans 'Walk as Jesus' %}</span> {% trans '#howto' %}</h1>
            <p>{% blocktrans %}Jesus tought many different things. We help applying all <strong class="number" data-number="{{ commandments_total }}">{{ commandments_total }}</strong> unique commandments in your daily life{% endblocktrans %}</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover how' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_3.png' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Kids site' %}</span>
            </div>
            <h1 class="mb-4">{% blocktrans %}A special <span>childrens version</span> of this site to teach how Jesus walked{% endblocktrans %}</h1>
            <p>{% trans 'With links to Superbook animated Bible stories' %}</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover how' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Matthew 28:19-20' %}</span>
            </div>
            <h1 class="mb-4">{% blocktrans %}Therefore go and <span>make Disciples</span> of all nations{% endblocktrans %}</h1>
            <p>{% blocktrans %}teaching them to <span><strong>obey everything</strong></span> I have commanded you{% endblocktrans %}</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover how' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endcache %}
{% endblock %}

{% block content %}
{% cache cache_timeout commandments_index cache_on_language %}
<section class="ftco-counter" id="section-counter">
      <div class="container-fluid px-0">
        <div class="row no-gutters">
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
          <img src="{% static 'images/list.png' %}" width="80px" alt="">
                </div>
                <strong class="number" data-number="{{ commandments_total }}">0</strong>
                <span>{% trans 'Unique commandments' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
          <img src="{% static 'images/bible.png' %}" width="80px" alt="">
        </div>
                <strong class="number" data-number="{{ bibles.count }}">0</strong>
                <span>{% trans 'Bible translations' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
          <img src="{% static 'images/languages.png' %}" width="80px" alt="">
        </div>
                <strong class="number" data-number="{{ languages_total }}">0</strong>
                <span>{% trans 'Languages' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
          <img src="{% static 'images/people.png' %}" width="80px" alt="">
        </div>
                <strong class="number" data-number="{{ users_total }}">0</strong>
                <span>{% trans 'Contributers' %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="ftco-section bg-light" id="sermons-section">
  <div class="container">
    <div class="row justify-content-center col-md-12">
      <div class="sermon-wrap ftco-animate" targetaudience="adults">
        <div class="img d-flex align-items-center justify-content-center" style="background-image: url('{% static 'images/61_-_Love_the_Lord_your_God_with_all_your_heart.png' %}');">
            <div class="text-content p-4 text-center">
                <h3>{% trans 'We love Him, because He first loved us' %}</h3>
                <span>{% trans '1 John 4:19' %}</span>
            </div>
        </div>
      </div>
      <div class="col-md-12 heading-section text-center ftco-animate" targetaudience="kids"> 
        <h2>{% trans "Bring the Bible back to life in your child's heart" %}</h2>
        <div class="video-iframe">
            <iframe src="https://www.youtube.com/embed/kiDQI7Ymkwc" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
        </div>
      </div>
  </div>
    <div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <span class="subheading">{% trans 'John 14:15' %}</span>
            <h2 class="mb-4"><span>{% trans 'If you love Me' %},</span> {% trans 'keep my commands' %}</h2>
            <p>{% blocktrans %}This website will help you in applying all commandments in your life. How? For each commandment, we collect as much as possible related resources like 
            <strong>Bible references, drawings, movies, songs, blogs, sermons, pictures and books</strong> to feed your heart, soul and mind{% endblocktrans %}.</p>
            <p>{% trans 'To succeed in becoming a good disciple, we need to live out all of these commandments. The best way is to do this together. Take your time for each commandment to dive into the greatness of it, and discuss them in your Small Groups, Discipleship Groups, Mentoring, Ministry enrichment or One-on-one discipleship, to become followers in all of Jesus teachings.' %} </p>
        </div>
    </div>
  <div class="row">
  {% if commandments %}
    {% for commandment in commandments %}
          {% include "commandments/single_commandment_overview.html" %}
        {% endfor %}
  {% else %}
    <p>{% trans 'No commandments are available.' %}</p>
  {% endif %}
  </div>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="row justify-content-center align-items-center">
                  <div class="col-md-12 daily-verse pl-md-5 ftco-animate fadeInUp ftco-animated">
                      <div class="background-quote">
                        <span>"{% trans 'Jesus commandments are not steps towards legalism, but precious gifts, ready for you to unpack' %}!"</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
</section>
{% endcache %}
{% endblock %}
