{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}

{% block homebanner %}
{% cache cache_timeout commandments_index_banner cache_on_language %}
<section class="home-slider js-fullheight owl-carousel">
  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Jesus commandments' %}</span>
            </div>
            <h1 class="mb-4"><span>{% trans 'Following Jesus' %}</span> {% trans '#howto' %}</h1>
            <p>{% trans 'Jesus tought many different things. We help applying all' %} <strong class="number" data-number="{{ commandments_total }}">{{ commandments_total }}</strong> {% trans 'unique commandments in your daily life' %}</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover His commandments' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'Matthew 28:19-20' %}</span>
            </div>
            <h1 class="mb-4">{% trans 'Therefore go and' %} <span>{% trans 'make Disciples'%} </span>{% trans 'of all nations' %}</h1>
            <p>{% trans 'Teaching them to' %} <span><strong>{% trans 'obey everything' %}</strong></span> {% trans 'I have commanded you' %}</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover His commandments' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image:url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-8 text-center ftco-animate mt-5">
          <div class="text">
            <div class="subheading">
              <span>{% trans 'True disciples' %}</span>
            </div>
            <h1 class="mb-4">{% trans 'If we' %} <span>{% trans 'reproduce the character'%} </span>{% trans 'of Jesus Christ in our disciple' %}</h1>
            <p>{% trans 'Than we are a good disciple' %}.</p>
            <p><a href="{% url 'commandments:listing' %}" class="btn btn-primary btn-outline-primary py-2 px-4">{% trans 'Discover His commandments' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endcache %}
{% endblock %}

{% block content %}
{% cache cache_timeout commandments_index cache_on_bible %}
<section class="ftco-counter" id="section-counter">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/list.png' %}" width="80px" alt="">
              	</div>
                <strong class="number" data-number="{{ commandments_total }}">0</strong>
                <span>{% trans 'Unique commandments' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/bible.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="{{ bibles_total }}">0</strong>
                <span>{% trans 'Bible translations' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/languages.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="{{ languages_total }}">0</strong>
                <span>{% trans 'Languages' %}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
					<img src="{% static 'images/people.png' %}" width="80px" alt="">
				</div>
                <strong class="number" data-number="{{ users_total }}">0</strong>
                <span>Contributers</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

<section class="ftco-section bg-light" id="sermons-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <span class="subheading">John 14:15</span>
            <h2 class="mb-4"><span>{% trans 'If you love Me' %},</span> {% trans 'keep my commands' %}</h2>
            <p>{% trans 'This website will help you in applying all commandments in your life. How? For each commandment, we collect as much as possible related' %}
            <strong>{% trans 'Bible References, Drawings, Movies, Songs, Blogs, Sermons, Pictures and Books' %}</strong> {% trans 'to feed your heart, soul and mind' %}.</p>
            <p>{% trans 'To succeed in becoming a good disciple, we need to live out all of these commandments. The best way is to do this together. Take your time for each commandment to dive into the greatness of it, and discuss them in your Small Groups, Discipleship Groups, Mentoring, Ministry enrichment or One-on-one discipleship, to become followers in all of Jesus teachings.' %} </p>

            <div class="alert alert-info" role="alert" data-toggle="collapse" data-target="#collapseLegalism" aria-expanded="false" aria-controls="collapseLegalism">
                <p><i>{% trans 'You think focusing on the commandments is a step toward legalism? Click here to read more about what the Bible tells us' %}.</i></p>
            </div>
            <div class="collapse" id="collapseLegalism">
                <div class="alert alert-info infobox">
                    <p>{% trans 'Jesus said, "Go therefore and make disciples of all the nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all things that I have commanded you (Matt 28:19-20)". It is a very clear and powerfull message, Jesus asks all believers to consciously obey, but not only in some commands, or only the greatest command, no, in all of them!' %}</p>
                    <p>{% trans 'Whenever the word "command" is mentioned, it seems that people immediately put up their defenses and begin to argue why certain commands are unnecessary. Some say they do not want to be controlled by any "commandment"; rather, they want to be led by the Spirit. But is was the Spirit who gave all the commandments by inspiration. since they were all written down twenty to sixty years after Jesus ascended. We are expected to learn what He said and trust Him to give us the power to obey it.' %}</p>
                    <p>{% trans 'It must be very clear, that the acceptance before God, cannot be gained. We are all sinners, no amount of obedience or moral perfection can ever make any person acceptable to God, because one sin in a lifetime can condemn a person (James 2:10). Salvation and acceptance by God are only possible through His grace who offers to completely pay for all our sins by His death and His blood, shed on the cross of Calvary. When we trust in His payment for our sin\'s results, we are rewarded with the gift of Christ\'s righteousness - that alone is what can make us acceptable (2 Cor 5:21).' %}</p>
                    <p><b>{% trans 'We need to understand deeply, that we are loved and accepted as we are. And out of love towards God, because we are loved by Him, we will listen to Him, and obey Him in all His teachings.' %}</b></p>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
	{% if commandments %}
		{% for commandment in commandments %}
          {% include "commandments/single_commandment_overview.html" %}
        {% endfor %}
	{% else %}
		<p>{% trans 'No commandments are available.' %}</p>
	{% endif %}
</div>
</div>
</section>
{% endcache %}
{% endblock %}
