{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout lessons_listing cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <div class="ftco-section bg-light" id="sermons-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans '1 John 2:6' %}</span>
                    <h2 class="mb-4"><span>{% trans 'Discover this new Childrens Bible method to learn your children Gods plan with this world' %},</span></h2>
                    <p>{% blocktrans %}From a helicopter view, it is good to think about what you want to give to the children in the church in groups 3-8 during those years? 2 things are very important here:{% endblocktrans %}</p>
                    <br>{% blocktrans %}- The broad outline of the stories throughout the Bible: a loving God who desires a relationship with us humans.{% endblocktrans %}</br>
                    <p>{% blocktrans %}- The principles that we can 'imprint', so that they become the principles on which they can build their lives.{% endblocktrans %}</p>
        		    <p><strong>{% trans 'Are you ready to discover Gods great plan?' %}</strong></p>
                </div>
            </div>
            <div class="row">
                {% if lessons %}
                    {% for lesson in lessons %}
                        {% include "lessons/single_lesson_overview.html" %}
                    {% endfor %}
                {% else %}
                    <p>{% trans 'No steps are available.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endcache %}
{% endblock %}
