{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout commandments_listing cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <div class="ftco-section bg-light" id="sermons-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'John 14:15' %}</span>
                    <h2 class="mb-4"><span>{% trans 'If you love Me' %},</span> {% trans 'keep my commands' %}</h2>
                    <p>{% blocktrans %}When you have discovered who Jesus is and what He has done, you really want nothing more than to follow Him and dedicate your life to Him. But how do you give hands and feet in following Jesus? We present you 77 unique steps which Jesus taught throughout his ministry which we find in the four gospels. We encourage you to come together with other followers of Jesus and help each other by talking about how you can apply these steps into your life. For each step you will find all kind of related bible verses, movies, songs, illustrations and lots more resources.{% endblocktrans %}.</p>
		    <p><strong>{% trans 'Are you ready to discover the first step?' %}</strong></p>
                </div>
            </div>
            <div class="row">
                {% if commandments %}
                    {% for commandment in commandments %}
                        {% include "commandments/single_commandment_overview.html" %}
                    {% endfor %}
                {% else %}
                    <p>{% trans 'No commandments are available.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endcache %}
{% endblock %}
