{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout commandments_study_listing cache_on_bible %}
<div class="container">
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <div class="alert alert-info" role="alert" data-toggle="collapse" data-target="#collapseApproach" aria-expanded="false" aria-controls="collapseApproach">
                        <p><i>{% trans 'How did we study them?' %} <a href=# class="alert-link">{% trans ' Click here to see our approach' %}.</a></i></p>        
                    </div>

                    <div class="collapse" id="collapseApproach">
                        <div class="alert alert-info infobox">
                            {% trans 'Here are all the points we took in consideration while studying all the unique commandments' %}:
                            <ul>
                                <li>{% trans 'Read everything Jesus said, starting with Matthew, then Mark, Luke and John' %}.</li>
                                <li>{% trans 'Focus on all commandments Jesus gave, and be aware of the following differences:' %}.</li>
                                <ul>
                                    <b>{% trans 'Is it a "principle" or a "value"?' %}</b>
                                    <li>{% trans 'A "principle" is generic which applies to all generations, no matter what culture, time or place' %}.<br>
                                        <i>{% trans 'By example: "Love your neighbors as yourself" (Matthew 19:19)' %}</i></li>
                                    <li>{% trans 'A "value" is the way how a principle would pack out in a specific culture, time and place. If you have this, you need to derive the principle out of it by studying the context' %}.<br>
                                        <i>{% trans 'By example: "Salute one another with an holy kiss" (Rom 16:16)' %}. {% trans 'The principle is not kiss everybody, but to salute your brothers and sisters in an intimate way, based on your specific culture, time and place' %}.</i></li>
                                    <b>{% trans 'Is it "literal" or "figurative"?' %}</b>
                                    <li>{% trans 'A "literal" commandment is literally what Jesus is saying which you can directly obey and apply' %}.<br>
                                        <i>{% trans 'By example: "Worship the Lord your God, and serve him only" (Matthew 4:10)' %}</i></li>
                                    <li>{% trans 'A "figurative" commandment is descriptive or a parable (Usually a short fictitious story that illustrates a moral attitude or a religious principle)' %}.<br>
                                        <i>{% trans 'By example: "The parable of the Good Samaritan " (Luke 10:29-37)' %}. {% trans 'The principle is to be merciful to those who crosses your paths' %}.</i></li>
                                    <b>{% trans 'Is it "specific" or a "generic"?' %}</b>                                    
                                    <li>{% trans 'There are also some specific commandments which Jesus gave specifically to that person in that time, which will not directly apply for us today' %}.<br>
                                        <i>{% trans 'By example: "Go your way into the village over against you: and as soon as ye be entered into it, ye shall find a colt tied, whereon never man sat; loose him, and bring him." (Mark 11:2)' %}</i></li>
                                    <b>{% trans 'Is it a "prohibition" or "commandment"?' %}</b>                                    
                                    <li>{% trans 'A prohibition is a negative commandment, something you should not do. To all prohibitions, there is an opposite commandment. In the unique commandments, we meantion only commandments, while in the references you will also find lots of the opposite prohibitions. So if you have a prohibition, derive the opposite commandment from it' %}.<br>
                                        <i>{% trans 'By example: "That whosoever looketh on a woman to lust after her hath committed adultery with her already in his heart (Matthew 5:28). The prohibition is to not look with lust to another woman, the commandment is to stay loyal to your partner and keep your heart pure' %}.</i></li>
                                    <b>{% trans 'Should you "continually", or "start" doing it?' %}</b>
                                    <li>{% trans 'There is a difference in "immediately start doing it" or "keep continually or habitually doing it"' %}.<br>
                                        <i>{% trans 'By example: "Guard against self-deception, each of you. If someone among you thinks he is wise in this age, let him become foolish so that he can become wise (1 Cor 3:18). The progressive type here is to "Guard continually" and to "become immediately foolish" if you think you are wise' %}.</i></li>
                                    </ul>
                            <b>{% trans 'Is it a "new" or "existing" commandment?' %}</b>
                            <li>{% trans 'If it is new:' %}</li>
                            <ul>
                                <ol type="1">
                                    <li>{% trans 'Add it with its primary bible reference' %}</li>
                                    <li>{% trans 'Determine a short powerfull title which summarizes the commandment' %}</li>
                                    <li>{% trans 'Determine in which "category" the commandment falls' %}</li>
                                </ol>
                            </ul>
                            <li>{% trans 'If it is an allready existing, determine to which existing commandment(s) it should apply' %}'</li>
                                <ul>
                                    <b>{% trans 'Is it a "primary", "secondary" or "tertiary" reference?' %}</b>
                                    <li><i>{% trans 'A Primary reference is the first found unique reference according to the words of Jesus, directly related to the commandment' %}.</i></p></li>
                                    <li><i>{% trans 'Secondary references are extra references which are not exactly the same as the primary, but expand or explain the same principle' %}.</i></p></li>
                                    <li><i>{% trans 'Tertiary references are extra, indirect references, or exactly the same as the primary reference, both relating to the same principle' %}.</i></p></li>
                                </ul>
                            <b>{% trans 'Are there more secondary and tertiary Bible references?' %}</b>
                            <li>{% trans 'With each commandment, extend it with as many as you can find secondary and tertiary references, both Old and New Testament.' %}</li>
                            </ul>

                            <p><i>{% trans "Maybe you are wondering why we did not study all the commandments in the whole New Testament? Well, the easiest reason why we didn't, is because Jesus commandedments didn't include the commandments which other apostles are saying. He said 'teaching them to observe all things that I have commanded you' (Matt 28:20). Of course, the other letters in the NT are still true, valueable and explaining or extending Jesus' teachings, so maybe in the future we will add them to this website as well." %}</i></p>
                        </div>
                    </div>

                    <span class="subheading">Overview of Jesus Commandments</span>
                    <h2 class="mb-4"><span>{% trans 'Study the commandments yourself' %}</span></h2>
                    <p>{% trans 'In the following table you can see a list of all the commandments we found which Jesus tought us.' %}
                    <p>{% trans "If you have any suggestions or corrections, we'd like to hear from you. Please" %} <a href="{% url 'account:signup' %}">{% trans 'register' %}</a> {% trans 'or just sent us an' %} <a href="mailto:info@jesuscommandments.org">{% trans 'email' %}</a>.</p>
                </div>
            </div>
            <div class="btnBibleTranslationStudyPage">
                <form action="{% url 'commandments:bible' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <div class="select" data-toggle="tooltip" data-placement="left" title="{% trans 'With this setting, all Bible references found on this website are displayed with the set translation' %}">
                    <select name="bible_id" onchange="this.form.submit()">
                        <!-- In case we switched languages, the currently selected bible might not be present, so add it here -->
                        <option value="{{ user_preferences.bible.id }}" selected>
                            {{ user_preferences.bible.name }} ({{ user_preferences.bible.language }})
                        </option>
                        {% for bible in bible_translation.all_in_user_language %}
                            {% if bible.id != user_preferences.bible.id %}
                            <option value="{{ bible.id }}">
                                {{ bible.name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </form>
            </div>
            <br>
            <br>

            <div class="col-md-12">
                
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm w-auto" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th class="th-sm">#
                        </th>
                        <th class="th-sm">{% trans 'Commandment Title' %}
                        </th>
                        <th class="th-sm">{% trans 'Bible Reference' %}
                        </th>
                        <th class="th-sm">{% trans 'Bible Reference Text' %}
                        </th>
                        <th class="th-sm">{% trans 'Category' %}
                        </th>
                        <th class="th-sm">{% trans 'Precedence' %}
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if bible_references.primary %}
                        {% for bible_reference in bible_references.primary %}
                        <tr>
                            <th scope="row">{{ bible_reference.commandment.id }}</th>
                            <td>{{ bible_reference.commandment.title }}</td>
                            <td>{{ bible_reference}}</td>
                            <td>{{ bible_reference.text}}</td>
                            <td>{{ bible_reference.commandment.get_category_display }}</td>
                            <td>{% trans 'Primary' %}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        {% if bible_references.secondary %}
                        {% for bible_reference in bible_references.secondary %}
                        <tr>
                            <th scope="row">{{ bible_reference.commandment.id }}</th>
                            <td>{{ bible_reference.commandment.title }}</td>
                            <td>{{ bible_reference }}</td>
                            <td>{{ bible_reference.text}}</td>
                            <td>{{ bible_reference.commandment.get_category_display }}</td>
                            <td>{% trans 'Secondary' %}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}

                        {% if bible_references.tertiary %}
                        {% for bible_reference in bible_references.tertiary %}
                        <tr>
                            <th scope="row">{{ bible_reference.commandment.id }}</th>
                            <td>{{ bible_reference.commandment.title }}</td>
                            <td>{{ bible_reference }}</td>
                            <td>{{ bible_reference.text  }}</td>
                            <td>{{ bible_reference.commandment.get_category_display }}</td>
                            <td>{% trans 'Tertiary' %}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-sm">#
                            </th>
                            <th class="th-sm">{% trans 'Commandment Title' %}
                            </th>
                            <th class="th-sm">{% trans 'Bible Reference' %}
                            </th>
                            <th class="th-sm">{% trans 'Bible Reference Text' %}
                            </th>
                            <th class="th-sm">{% trans 'Category' %}
                            </th>
                            <th class="th-sm">{% trans 'Precedence' %}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>
        </div>
    </section>
</section>
</div>
{% endcache %}
{% endblock %}