{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout vision cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'The reason why we have this website' %}</span>
                    <h2 class="mb-4"><span>{% trans 'Vision' %}</span></h2>
                    <h5 class="mb-4"><span><i>{% trans '"Our goal with this site is to listen to and obey Jesus, explain His teachings, let the people get rooted and be fruitful in the world, to glorify our Father in heaven"' %}</i></span></h5>
                </div>
                <div class="col-md-12 heading-section ftco-animate">
                    <p>
                    {% blocktrans %}
                    When you have discovered who Jesus is and what He has done, you really want nothing more than to follow Him and dedicate your life to Him. But how do you give hands and feet to following Jesus? How can we live the full life? What steps can we take to become more like Him? In John's first epistle, John says:
                    {% endblocktrans %}
                    </p>
                    <p><i>"{{ johnfirstbook_2_6.text }}" ({{ johnfirstbook_2_6 }})</i></p>

                    <p>
                    <strong>{% trans 'Walk as Jesus' %}</strong>. {% trans "That is exactly what we should strive for, and what is the purpose of this website. But what does that mean? Let's read the verses above to have a little more context:" %}</p>
                    
                    <p><i>"{{ johnfirstbook_2_3_6.text }}" ({{ johnfirstbook_2_3_6 }})</i></p>

                    <p>
                    {% blocktrans %}    
                    If we want to walk as Jesus walked, we should follow His steps. Just before going to heaven, after having risen from the dead and showing himself to many people several times, Jesus gave His disciples a commission, also known as the great commission. He commands to teach all the nations and to observe everything that He has commanded. But what did He command? If you read through the gospels and write down all the commandments that Jesus did, you will come up with at least 77 unique steps. All precious gifts, to be applied by you and me. The big summary is to love God and our neighbors, but loving is so deep that it is necessary that we carefully take this apart and let our character be molded to the character that Jesus has. In John 15:10, Jesus also explicitly says:
                    {% endblocktrans %}
                    </p>

                    <div class="container">
                        <blockquote class="quote-box">
                          <p class="quotation-mark">
                            “
                          </p>
                          <p class="quote-text">
                            Legal repentance says I have broken God's rules, while true repentance says I have broken God's heart. 
                          </p>
                          <hr>
                          <div class="blog-post-actions">
                            <p class="blog-post-bottom pull-left">
                              Abraham Lincoln
                            </p>
                            <p class="blog-post-bottom pull-right">
                              <span class="badge quote-badge">896</span>  ❤
                            </p>
                          </div>
                        </blockquote>
                    </div>
                    
                    <p><i>"{{ joh_15_10.text }}" ({{ joh_15_10 }})</i></p>
                    
                    <p><strong>{% trans "By His Spirit He wants to help us to keep Jesus commandments and to walk as He walked" %}.</strong></p>
                    
                    <p><i>"{{ heb_13_20_21.text }}" ({{ heb_13_20_21 }})</i></p>
                    <br>
                    <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>
                </div>

                </div>
            </div>
        </div>
    </section>
</section>
{% endcache %}
{% endblock %}
