{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout vision cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'The reason why we have this website' %}</span>
                    <h2 class="mb-4"><span>{% trans 'Vision' %}</span></h2>
                    <h5 class="mb-4"><span><i>{% trans '"Our goal with this site is to listen to and obey Jesus, explain His teachings, let the people get rooted and be fruitful in the world, to glorify our Father in heaven"' %}</i></span></h5>

                    <div class="row">
                        <div class="col-sm-5">
                        {% blocktrans %}
                        <p><i>"{{ joh_3_16.text }}" ({{ joh_3_16 }})</i></p>
                        <p>It all starts with accepting Gods love for us. By faith alone in Jesus Christ that He died instead to pay for your sins you will receive everlasting life!</p>
                        {% endblocktrans %}
                        </div>
                        <div class="col-sm-7">
                            <img style="width: 100%;" src="{% static 'images/vision-1-Chelsea-Bock-unsplash.jpg' %}">
                            <div class="vision-author">
                                {% trans 'Author' %}: Chelsea Bock
                            </div>
                        </div>
                    </div> 
                    </br>
                    <div class="row">
                        <div class="col-sm-5">
                        {% blocktrans %}
                        <p><i>"{{ joh_14_21.text }}" ({{ joh_14_21 }})</i></p>
                        <p>Loving God back requires obedience, but what are all of Jesus commandments?</p> 
                        </br>
                        <p>When you will read the gospels, and write down all of the unique commandments, you will at least find all the commandments which are displayed on this websites.</p>
                        {% endblocktrans %}
                        </div>
                        <div class="col-sm-7">
                            <img style="width: 100%;" src="{% static 'images/vision-2-priscilla-du-preez-unsplash.jpg' %}">
                            <div class="vision-author">
                                {% trans 'Author' %}: Priscilla Du Preez
                            </div>
                        </div>
                    </div> 
                    </br>   
                    <div class="row">
                        <div class="col-sm-5">
                        {% blocktrans %}
                        <p><i>"{{ mat_13_18_23.text }}" ({{ mat_13_18_23 }})</i></p>
                        <p>So how will we become fruitful with our lives? By hearing the Word, understanding the Word and obeying to the Word.</p>
                        {% endblocktrans %}
                        </div>
                        <div class="col-sm-7">
                            <img style="width: 100%;" src="{% static 'images/vision-3-duong-tri-unsplash.jpg' %}">
                            <div class="vision-author">
                                {% trans 'Author' %}: Duong Tri 
                            </div>
                        </div>
                    </div> 
                    </br>
                    <div class="row">
                        <div class="col-sm-5">
                        <p><i>"{{ mat_28_18_20.text }}" ({{ mat_28_18_20 }})</i></p>
                        {% blocktrans %}
                        <p>We need to teach each other to observe all things what Jesus has commanded. Go ye therefore! Find other people who want to follow Jesus as well. Listen to all the commandments. Understand all the commandments and obey to all His commandments.</p>
                        {% endblocktrans %}
                        </div>
                        <div class="col-sm-7">
                            <img style="width: 100%;" src="{% static 'images/vision-4-kyle-glenn-unsplash.jpg' %}">
                            <div class="vision-author">
                                {% trans 'Author' %}: Kyle Glenn
                            </div>
                        </div>
                    </div> 
                    </br>
                    <div class="row">
                        <div class="col-sm-5">
                        <p><i>"{{ mat_7_24_27.text }}" ({{ mat_7_24_27 }})</i></p>
                        {% blocktrans %}
                        <p><b>Do you want to follow Jesus in all His commandments?</b></p>
                        {% endblocktrans %}
                        <p><i>"{{ joh_14_15.text }}" ({{ joh_14_15 }})</i></p>
                        </div>
                        <div class="col-sm-7">
                            <img style="width: 100%;" src="{% static 'images/vision-5-rock-sightmagazine.jpg' %}">
                            <div class="vision-author">
                                {% trans 'Author' %}: sightmagazine.com.au
                            </div>
                        </div>
                    </div> 
                    </br>

                    <p><i>"{{ heb_13_20_21.text }}" ({{ heb_13_20_21 }})</i></p>
                    <br>
                    <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>

                </div>
            </div>
        </div>
    </section>
</section>
{% endcache %}
{% endblock %}