{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout lessons_detail cache_on_bible lesson.id %}
<nav class="floating-menu">
    <ul class="main-menu">
        {% if lesson.direct_bible_references %}
        <li>
            <a href="#biblereferences" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Bible references' %}" src="{% static 'images/bible.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.activities %}
        <li>
            <a href="#activities" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Activities' %}" src="{% static 'images/activities.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.drawings %}
        <li>
            <a href="#drawings" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Drawings' %}" src="{% static 'images/drawing.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.pictures %}
        <li>
            <a href="#pictures" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Pictures' %}" src="{% static 'images/picture.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.lessonquestions %}
        <li>
            <a href="#questions" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Questions' %}" src="{% static 'images/questions.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.superbooks %}
        <li>
            <a href="#superbook" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Superbook' %}" src="{% static 'images/superbook.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.henkieshows %}
        <li>
            <a href="#henkieshow" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'De Henkie Show' %}" src="{% static 'images/henkieshow.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.short_movies %}
        <li>
            <a href="#short_movies" class="ripple">
                <i><img src="{% static 'images/shortmovie.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.songs %}
        <li>

            <a href="#songs" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Songs' %}" src="{% static 'images/song.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        {% if lesson.testimonies %}
        <li>
            <a href="#testimonies" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Testimonies' %}" src="{% static 'images/testimony.png' %}" width="40px" alt=""></i>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="#games" class="ripple">
                <i><img title="{% trans 'Jump to:' %} {% trans 'Games' %}" src="{% static 'images/games.png' %}" width="40px" alt=""></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>

<section class="ftco-daily-verse img" style="background-image: url('{% if lesson.background_drawing.img_url %}{{ lesson.background_drawing.img_url }}{% else %}{% static 'images/drawing_placeholder.png' %}{% endif %}');">
<div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 daily-verse pl-md-5 ftco-animate">
                        <span class="subheading">{{ lesson.title }}</span>
                    </div>
                </div>
            </div>
        </div>                               
        <div class="row">
            <div id="bible_lesson_details" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img commandment_id">
                            <h3>{{ lesson.id }}</h3>
                        </div>
                        <div id="bible_lesson_details" class="our-services-text">
                            <h4>{% trans 'Lesson' %} {{ lesson.id }} -
                                {% for bible_section in lesson.bible_section %}
                                    {{ bible_section.short_name_chapter }}{% if not forloop.last %}, {% endif %}
                                {% endfor %} - {{ lesson.story }}
                            </h4>

                            {% if lesson.commandment %}
                                <p><i>{% trans "This lesson we will learn the following 'step' which can be learned to the children to remember as truth for their lives" %}</i></p><br>
                                <b>{% trans 'Related Step text to learn' %}:</b> {{ lesson.title }}<br>
                                {% if lesson.related_step_description %}
                                <b>{% trans 'Related Step description' %}:</b> {{ lesson.related_step_description }}<br>
                                {% endif %}
                                <b>{% trans 'Related Step Bible text' %}:</b> {{ lesson.primary_bible_reference.text }} ({{ lesson.primary_bible_reference }})<br>
                            {% else %}
                                <b>{% trans 'Lesson text to learn' %}:</b> {{ lesson.title }}<br>
                                <b>{% trans 'Related Bible text' %}:</b> {{ lesson.primary_bible_reference.text }} ({{ lesson.primary_bible_reference }})<br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if lesson.activities %}
            <div id="activities" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/activities.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Activities' %}</h4>
                            <p><i>{% trans "Here are some ideas for activities you can do with the children to process this lesson in a creative way" %}</i></p><br>
                            {{ lesson.activities | safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if lesson.lessonquestions %}
            <div id="questions" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/questions.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Questions' %}</h4>
                            <h5>{% trans 'Share your hearts together by talking about the following subjects:' %}</h5>
                                {% if lesson.lessonquestions %}
                                    {% trans 'Extra questions' %}:
                                    <ul>
                                    {% for question in lesson.lessonquestions %}
                                        <li>{{ question.text }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endcache %}
            {% cache cache_timeout lessons_detail_media cache_on_multi_language lesson.id %}

            {% if lesson.superbooks %}
            <div id="superbook" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="{% static 'images/superbook.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Superbook' %}</h4>
                            {% for superbook in lesson.superbooks %}
                                <div>
                                    <h5>{{ superbook.author }} - {{ superbook.title }}</h5>
                                    {% if superbook.description %}<p>{{ superbook.description }}</p>{% endif %}
                                    <div class="video-iframe">
                                        <iframe src="{{ superbook.url }}" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.henkieshows %}
            <div id="henkieshow" henkieshow="true" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/henkieshow.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'De Henkie Show' %}</h4>
                            {% for henkieshow in lesson.henkieshows %}
                                <h5>{{ henkieshow.title }}</h5>
                                {% if henkieshow.description %}<p>{{ henkieshow.description }}</p>{% endif %}
                                <div class="video-iframe">
                                    <iframe src="{{ henkieshow.url }}" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                                </div>
                                <p><b><a href="{{ henkieshow.img_url }}" target="_blank">{% trans 'Discover more creative methods of this Bible story on The Henkie Show' %}</a></b></p>
                                <p style="clear: left;"> </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.short_movies %}
            <div id="short_movies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/shortmovie.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Short Movies' %}</h4>
                            {% for short_movie in lesson.short_movies %}
                            <div>
                                <h5>{{ short_movie.author }} - {{ short_movie.title }}</h5>
                                {% if short_movie.description %}<p>{{ short_movie.description }}</p>{% endif %}
                                <div class="video-iframe">
                                    <iframe src="{{ short_movie.url }}" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.songs %}
            <div id="songs" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/song.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Songs' %}</h4>
                            {% for song in lesson.songs %}
                            <div>
                                <h5>{{ song.author }} - {{ song.title }}</h5>
                                {% if song.description %}<p>{{ song.description }}</p>{% endif %}
                                <div class="video-iframe">
                                    <iframe src="{{ song.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.testimonies %}
            <div id="testimonies" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/testimony.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Testimonies' %}</h4>
                            {% for testimony in lesson.testimonies %}
                            <div>
                                <h5>{{ testimony.author }} - {{ testimony.title }}</h5>
                                {% if testimony.description %}<p>{{ testimony.description }}</p>{% endif %}
                                <div class="video-iframe">
                                    <iframe src="{{ testimony.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:97%;height:97%;"></iframe>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if lesson.drawings %}
            <div id="drawings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/drawing.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Drawings' %}</h4>
                            {% for drawing in lesson.drawings %}
                                <img src="{{ drawing.img_url }}" alt="{{ drawing.author }} - {{ drawing.title }}" style="max-width:97%;max-height:97%;">
                                {% if drawing.description %}<p>{{ drawing.description }}</p>{% endif %}
                                <p>{% trans 'Artist' %}: {{ drawing.author }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.direct_bible_references %}
            <div id="biblereferences" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/bible.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Direct Bible References' %}</h4>
                            <p><i>{% trans 'Extra direct Bible references which expands or explain the same lesson' %}.</i></p>
                            <ul>
                            {% for bible_reference in lesson.direct_bible_references %}
                                {% if bible_reference.positive_negative == "negative" %}
                                <li class="negative_list"><b>{{ bible_reference }}</b> {{ bible_reference.text }}</li>
                                {% elif bible_reference.positive_negative == "both" %}
                                <li class="pos_neg_list"><b>{{ bible_reference }}</b> {{ bible_reference.text }}</li>
                                {% elif bible_reference.positive_negative == "positive" %}
                                <li class="positive_list"><b>{{ bible_reference }}</b> {{ bible_reference.text }}</li>
                                {% else %}
                                <li class="unknown_list"><b>{{ bible_reference }}</b> {{ bible_reference.text }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            <br>
                            <br>
                            <h4>{% trans 'Legend' %}</h4>
                            <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>
                            <br>
                            <div class="alert alert-warning" role="alert" data-toggle="collapse" data-target="#collapseLegend" aria-expanded="false" aria-controls="collapseLegend">
                                <p><i>{% trans 'Click here to see the explanation of the different symbols' %}</i></p>
                            </div>
                            <div class="collapse" id="collapseLegend">
                                <div class="alert alert-warning infobox">
                                    <ul style="font-size: 11pt;">
                                        <li class="negative_list"><i>{% trans 'A related Bible reference to the lesson which is negative, something you should not do' %}</i></li>
                                        <li class="pos_neg_list"><i>{% trans 'A related Bible reference to the lesson which is both positive and negative' %}</i></li>
                                        <li class="positive_list"><i>{% trans 'A related Bible reference to the lesson which is positive, something you should do or learn from' %}</i></li>
                                        <li class="unknown_list"><i>{% trans 'A related Bible reference to the lesson which is not yet determined positive or negative' %}</i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if lesson.pictures %}
            <div id="pictures" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/picture.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans 'Pictures' %}</h4>
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" style="width:97%;height:97%;">
                                        {% for picture in lesson.pictures|slice:":3" %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ picture.img_url }}" alt="{{ picture.author }}">
                                                <p>{% trans 'Photographer' %}: {{ picture.author }}</p>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="{{ picture.img_url }}" alt="{{ picture.author }}">
                                                <p>{% trans 'Photographer' %}: {{ picture.author }}</p>
                                        {% endif %}
                                            </div>
                                        {% endfor %}                                                    
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="mediasettings" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mediasettings">
                <div class="alert alert-info alert-resource-settings" role="alert">
                    <div class="our-services-text">
                        <div class="resource-settings">
                            <h4>{% trans 'Resource Language Settings' %}</h4>
                            {% blocktrans %}Below you will find all kinds of related resources to this step, to help you grow. Resources can be Sermons, Testimonies, Movies, Shortmovies, Songs, Blogs or Books. You can select multiple languages if you like to see those resources in more languages.{% endblocktrans %}
                            <p><i>{% blocktrans %}Do you know more good resources in your language which can be added to this list? Please <a href="mailto:info@walkasjesus.org">contact us</a> so we can add it (or <a href="">register</a> and you can add it yourself!{% endblocktrans %}</i></p>
                            <div class="btnResourceSettings">
                                <span><a href="javascript:void(0);" data-toggle="modal" data-target="#changeLanguageModal">{% trans 'Change resource language' %}</a></span>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
            <div id="games" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                        <img src="{% static 'images/games.png' %}" width="65px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>{% trans "Games to Memorize the Steps with Drawings" %}</h4>

                            <div class="col-md-12 ftco-animate">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "Steps Memory" %}</h5>
                                        <p class="card-text">
                                            {% trans "Turn cards over and match illustrations with corresponding Bible verses." %}
                                            <br>
                                            <a href="javascript:void(0);" class="collapse-link" data-toggle="collapse" data-target="#collapseMemory" aria-expanded="false" aria-controls="collapseMemory">
                                                {% trans 'Click for more information' %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="collapseMemory">
                                <div class="alert alert-info infobox">
                                    {% blocktrans %}
                                    <strong>Steps Memory</strong>
                                    <br>
                                    <br>
                                    Supplies:
                                    <ul>
                                        <li>A6-sized steps with illustrations and Bible verses on the front. The back is blank.</li>
                                        <li>A4-sized steps with illustrations and Bible verses on the front. The back has the title of the step.</li>
                                    </ul>
                                    <br>
                                    Preparation:
                                    <ul>
                                        <li>Form teams in pairs or groups.</li>
                                        <li>Place a set of A6 steps with their backs up in random order on a table or on the floor. This forms the "Memory" part of the game.</li>
                                    </ul>
                                    <br>
                                    Task:
                                    <ul>
                                        <li>Let the children play in teams or pairs against each other.</li>
                                        <li>Players take turns flipping two cards from the "Memory" section, trying to find a matching set of an A4 card and an A6 card.</li>
                                        <li>If a player finds a matching set, they show both cards to the group and identify the Bible verse and illustration.</li>
                                        <li>For an extra point, they can also try to guess the corresponding title of the step to be learned.</li>
                                        <li>If the cards do not form a set, they are flipped back with the back facing up, and the next player takes a turn.</li>
                                        <li>The game continues until all matching sets are found.</li>
                                        <li>The team or player with the most correct sets and titles wins the game.</li>
                                    </ul>
                                    {% endblocktrans %}
                                </div>
                            </div>

                            <div class="col-md-12 ftco-animate">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "Searching Steps" %}</h5>
                                        <p class="card-text">
                                            {% trans "Hide cards with Bible verses and illustrations for children to find." %}
                                            <br>
                                            <a href="javascript:void(0);" class="collapse-link" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                                {% trans 'Click for more information' %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="collapseSearch">
                                <div class="alert alert-info infobox">
                                    {% blocktrans %}
                                    <strong>Searching Steps</strong>
                                    <br>
                                    <br>
                                    Supplies:
                                    <ul>
                                        <li>A6-sized steps with illustrations and Bible verses on the front. The back is blank.</li>
                                    </ul>
                                    <br>
                                    Task:
                                    <ul>
                                        <li>Divide the children into teams.</li>
                                        <li>Let one team hide the A6 cards, making sure to count how many cards they hide.</li>
                                        <li>Allow the other team to search for the cards in the hidden area, optionally setting a time limit.</li>
                                        <li>Once a team finds a card, they must identify the corresponding step.</li>
                                        <li>The team earns 1 point for correctly naming the step and 1 point for finding the step.</li>
                                        <li>If a team doesn't know the step, the other team can guess and, if correct, earn 1 point.</li>
                                        <li>When all cards are found or time is up, switch roles, and the team with the most points at the end wins.</li>
                                    </ul>
                                    {% endblocktrans %}
                                </div>
                            </div>

                            <!-- Guess the Step -->
                            <div class="col-md-12 ftco-animate">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "Guess the Step" %}</h5>
                                        <p class="card-text">
                                            {% trans "Guess which step matches a displayed drawing." %}
                                            <br>
                                            <a href="javascript:void(0);" class="collapse-link" data-toggle="collapse" data-target="#collapseGuess" aria-expanded="false" aria-controls="collapseGuess">
                                                {% trans 'Click for more information' %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="collapseGuess">
                                <div class="alert alert-info infobox">
                                    {% blocktrans %}
                                    <strong>Guess the Step</strong>
                                    <br>
                                    <br>
                                    Supplies:
                                    <ul>
                                        <li>A4-sized steps with illustrations and Bible verses on the front. The back has the title of the step.</li>
                                        <li>A6-sized steps with illustrations and Bible verses on the front. The back is blank.</li>
                                    </ul>
                                    <br>
                                    Preparation:
                                    <ul>
                                        <li>Place the large steps on the ground with the title facing up.</li>
                                        <li>Prepare small steps (A6 size) that correspond to the large steps.</li>
                                    </ul>
                                    <br>
                                    Task:
                                    <ul>
                                        <li>Have a child take turns showing a step, covering the Bible verse.</li>
                                        <li>They must guess which title matches the displayed drawing. They earn a point if correct.</li>
                                        <li>To make the game more challenging, children can also try to guess the corresponding Bible verse for an extra point.</li>
                                        <li>The team with the most points wins.</li>
                                    </ul>
                                    {% endblocktrans %}
                                </div>
                            </div>

                            <!-- Step Choice Challenge -->
                            <div class="col-md-12 ftco-animate">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "Step Choice Challenge" %}</h5>
                                        <p class="card-text">
                                            {% trans "Choose a drawing and provide hints, make a drawing, or use a 'forbidden word' to convey the step's meaning." %}
                                            <br>
                                            <a href="javascript:void(0);" class="collapse-link" data-toggle="collapse" data-target="#collapseChoice" aria-expanded="false" aria-controls="collapseChoice">
                                                {% trans 'Click for more information' %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="collapseChoice">
                                <div class="alert alert-info infobox">
                                    {% blocktrans %}
                                    <strong>Steps Choice Challenge</strong>
                                    <br>
                                    <br>
                                    Supplies:
                                    <ul>
                                        <li>Various steps printed with illustrations and Bible verses on the front. The back has the title of the step.</li>
                                    </ul>
                                    <br>
                                    Preparation:
                                    <ul>
                                        <li>Form two teams.</li>
                                        <li>Keep a stopwatch handy.</li>
                                    </ul>
                                    <br>
                                    Task:
                                    <ul>
                                        <li>Give one small drawing to a child within a team so that no one can see the drawing.</li>
                                        <li>The child receiving the drawing can choose how they want to convey the step to their team (you can also roll a die).</li>
                                        <li>Acting: They can act out the step by making movements.</li>
                                        <li>Drawing: They can try to draw the step without using words.</li>
                                        <li>Forbidden Word: They can describe the step without using specific keywords from the step's title.</li>
                                        <li>The team has 30 seconds to guess the step and name the corresponding title.</li>
                                        <li>If the team manages to guess both the drawing and the step within 15 seconds, they earn 3 points.</li>
                                        <li>If the team manages to guess both the drawing and the step between 15 and 30 seconds, they earn 2 points.</li>
                                        <li>If the team can't guess the step within 30 seconds, the other team has the chance to guess and earn points.</li>
                                        <li>The other team can try to guess the title of the step, but they can't see the drawing.</li>
                                    </ul>
                                    {% endblocktrans %}
                                </div>
                            </div>

                            <!-- Step Theater -->
                            <div class="col-md-12 ftco-animate">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">{% trans "Step Theater" %}</h5>
                                        <p class="card-text">
                                            {% trans "Act out a short story or play to convey the meaning of each step." %}
                                            <br>
                                            <a href="javascript:void(0);" class="collapse-link" data-toggle="collapse" data-target="#collapseTheater" aria-expanded="false" aria-controls="collapseTheater">
                                                {% trans 'Click for more information' %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="collapse" id="collapseTheater">
                                <div class="alert alert-info infobox">
                                    {% blocktrans %}
                                    <strong>Steps Theater</strong>
                                    <br>
                                    <br>
                                    Preparation:
                                    <ul>
                                        <li>Divide the children into pairs and give each pair a step (or show it via the website).</li>
                                    </ul>
                                    <br>
                                    Task:
                                    <ul>
                                        <li>Have each pair come up with a short mini-story or play that depicts the meaning of the step.</li>
                                        <li>The children in the pair can divide the roles and try to convey the message of the step in a creative and understandable way.</li>
                                        <li>After the pairs have prepared their play, they present it to the rest of the children in the group.</li>
                                        <li>After watching the play, the other children must guess which step is being portrayed.</li>
                                        <li>The team that correctly guesses the step earns points.</li>
                                    </ul>
                                    {% endblocktrans %}
                                </div>
                            </div>
                            <!-- Close the row for games -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endcache %}
{% endblock %}