{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout lessons_listing cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_2.jpg' %});">
    <div class="ftco-section bg-light" id="sermons-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'Build the foundations for your children' %}</span>
                    <h2 class="mb-4"><span>{% trans 'Discover this new Childrens Bible method to help your children learn, live and give to walk as Jesus walked' %}</span></h2>
                    <h5>{% blocktrans %}Have you ever considered what you want to learn to the children during the whole school period? We have looked at this carefully and came to 3 things which are very important:{% endblocktrans %}</h5>
                    <p>{% blocktrans %}- The broad outline of the stories throughout the Bible: a loving God who desires a relationship with us humans.{% endblocktrans %}</p>
                    <p>{% blocktrans %}- The principles that we can 'imprint', so that those become the principles on which they can build their lives.{% endblocktrans %}</p>
                    <p>{% blocktrans %}- Building healthy relationships with other children.{% endblocktrans %}</p>
                    <br>
        		    <p>{% trans 'On this website you will find 77 lessons for the old testament and 44 lessons for the new testament. Each lesson comes with a beautifull story from the childrens Bible' %} <strong><a target="_blank" href="https://www.bol.com/nl/nl/p/gods-grote-plan/9300000098330070/?bltgh=oLm29wxv5GPI-tIfMGVFJw.2_14.15.ProductTitle">{% trans 'Gods Grote Plan (Currently only available in dutch)' %}</a></strong>. {% trans 'For each lesson you will find related media items such as songs, questions to talk about, superbooks or more. For more information please contact us.' %}</p>
                </div>
            </div>
            <div class="row">
                {% if lessons %}
                    {% for lesson in lessons %}
                        {% include "lessons/single_lesson_overview.html" %}
                    {% endfor %}
                {% else %}
                    <p>{% trans 'No lessons are available.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endcache %}
{% endblock %}
