{% load static %}
{% load i18n %}
<div class="col-md-4">
    <div class="sermon-wrap ftco-animate">
        <div class="img d-flex align-items-center justify-content-center" style="background-image: url('{% if lesson.background_drawing.img_url %}{{ lesson.background_drawing.thumbnail_url }}{% else %}{% static 'images/drawing_placeholder.png' %}{% endif %} ');">
            <div class="number-content">
                <h3>{{ lesson.id }}</h3>
            </div>
            <div class="commandment-media-items">
                {% if lesson.found_superbook.title %}<img title="{% trans 'Superbook Found' %}" src="{% static 'images/superbook.png' %}" alt="">{% endif %}
                {% if lesson.found_henkieshow.title %}<img title="{% trans 'Henkie Show Found' %}" src="{% static 'images/henkieshow.png' %}" alt="">{% endif %}
                {% if lesson.activities %}<img title="{% trans 'Activities Found' %}" src="{% static 'images/activities.png' %}" alt="">{% endif %}
                {% if lesson.found_song.title %}<img title="{% trans 'Songs Found' %}" src="{% static 'images/song.png' %}" alt="">{% endif %}
                {% if lesson.found_short_movie.title %}<img title="{% trans 'Short Movies Found' %}" src="{% static 'images/shortmovie.png' %}" alt="">{% endif %}
                {% if lesson.found_testimony.title %}<img title="{% trans 'Testimonies Found' %}" src="{% static 'images/testimony.png' %}" alt="">{% endif %}
                {% if lesson.commandment %}<img title="{% trans 'Related Step Found' %}" src="{% static 'images/wajvideo.png' %}" alt="">{% endif %}
            </div>
            <div class="text-content p-4 text-center">
                {% if lesson.background_drawing.img_url is defined %}<span>{% trans 'Drawing in progress' %}</span>{% endif %}
                <p>
                    <a href="{% url 'commandments:lessondetail' lesson.id %}" class="btn-custom p-2 text-center"><span class="icon-play"></span> <strong>{% trans 'Lesson' %} {{ lesson.id }} -
                        {% for bible_section in lesson.bible_section %}
                            {{ bible_section.short_name_chapter }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </strong></a>
                </p>
                <h3>{{ lesson.title }}</h3>
            </div>
        </div>
    </div>
</div>
