<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load cache %}
{% load cookielaw_tags %}
<html lang="en">
  {% cache cache_timeout head cache_on_language %}
  <head>
    <title>{% trans 'Jesus commandments' %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <!-- Study page: buttons in table -->
    <link rel='stylesheet' id='fontawesome-css' href='https://use.fontawesome.com/releases/v5.0.1/css/all.css?ver=4.9.1' type='text/css' media='all' />    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <!-- Generic colorlib christian theme: Home text in slider -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Generic colorlib christian theme: Home carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/flaticon.css' %}"> -->
    <!-- Generic colorlib christian theme: Social media icons -->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Generic colorlib christian theme -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Detailed commandments page: boxes -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-snippet.css' %}">   
    <!-- Detailed commandments page: Navbar menu left -->  
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-menu.css' %}">   
    <!-- Detailed commandments page: Signup form -->  
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-signup.css' %}">
    <!-- Detailed commandments page: Selectbox media languages -->  
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-select.css' %}">
    <!-- Detailed commandments page: Selectbox languages and bible translations -->  
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <!-- Study Listing page: Table -->
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <!-- Cookielaw -->
    <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet">
  </head>
  {% endcache %}
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    {% cookielaw_banner %}

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
        <a class="navbar-brand" href="{% url 'commandments:index' %}"><span class="jclogo"><img src="{% static 'images/jc_icon.png' %}"></span>{% trans 'Jesus commandments' %}</a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> {% trans 'Menu' %}
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="{% url 'commandments:index' %}" class="nav-link"><span>{% trans 'Home' %}</span></a></li>
	          <li class="nav-item"><a href="{% url 'commandments:listing' %}" class="nav-link"><span>{% trans 'Commandments' %}</span></a></li>
	          <li class="nav-item"><a href="{% url 'commandments:vision' %}" class="nav-link"><span>{% trans 'Vision' %}</span></a></li>
	          <li class="nav-item"><a href="{% url 'commandments:study_listing' %}" class="nav-link"><span>{% trans 'Study them' %}</span></a></li>
            {% if user.is_superuser or user.is_staff %}
            <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link"><span>{% trans 'Admin Portal' %}</span></a></li>
            {% endif %}
            {% if user.is_authenticated %}
	          <li class="nav-item"><a href="{% url 'account:profile' %}" class="nav-link"><span>{% trans 'Profile' %} ({{ user.username }})</span></a></li>
	          <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link"><span>{% trans 'Logout' %}</span></a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link"><span>{% trans 'Help improving' %}</span></a></li>
            <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link"><span>{% trans 'Login' %}</span></a></li>
            {% endif %}
          </ul>
          <div class="language-select">
            <span>{% include "language.html" %}</span>
            <span>{% include "bible.html" %}</span>
          </div>  
        </div>
      </div>
	  </nav>

    {% block homebanner %}
    {% endblock %}

    <div class="container">
        {% include "messages.html" %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo"><span>{% trans 'If you love Me' %}</span> {% trans 'keep my commands' %}</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://twitter.com/JCommandments"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/jesus.commandments.144"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/jesuscommandments/"><span class="icon-instagram"></span></a></li>
                <li class="ftco-animate"><a href="https://github.com/jesuscommandments"><span class="fab fa-github"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">{% trans 'Site Navigation' %}</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'commandments:listing' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'List of Commandments' %}</a></li>
                <li><a href="{% url 'commandments:study_listing' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Study them' %}</a></li>
                <li><a href="{% url 'commandments:vision' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Our Vision' %}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">{% trans 'Account' %}</h2>
              <ul class="list-unstyled">

                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:profile' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Profile' %} ({{ user.username }})</a></li>
                    <li><a href="{% url 'account:logout' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'account:signup' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Register' %}</a></li>
                {% endif %}

                {% if user.is_superuser or user.is_staff %}
                    <li><a href="{% url 'admin:index' %}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>{% trans 'Admin Portal' %}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{% trans 'Contact us' %}</h2>
              <div class="opening-hours">
              	<p>{% trans 'Email: ' %}<span class="mb-3">info@jesuscommandments.com</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p><a href="/termsandconditions">{% trans 'Terms and Conditions' %}</a> | <a href="/privacy">{% trans 'Privacy Policy' %}</a></p>
          </div>
        </div>
      </div>
    </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  {% cache cache_timeout javascript %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <!-- Cookie law -->
  <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
  <!-- Media Language Multiselect  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <!-- Study Listing table -->
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
  <!-- Detailed commandments page: select media -->  
  <script type="text/javascript" src="{% static 'js/bootstrap-select.js' %}"></script>
  <!-- Fair use script from bible api -->
  <script src="http://cdn.scripture.api.bible/fums/fumsv2.min.js"></script>

  <!-- Tooltip showing/hiding speed -->
  <script>
      $(document).ready(function(){
          // Showing and hiding tooltip with different speed
          $(".select").tooltip({
              delay: {show: 0, hide: 1000}
          });
      });
  </script>
  <!-- Study Listing arrows in table -->
  <script>
      $(document).ready(function () {
      $('#dtBasicExample').DataTable();
      $('.dataTables_length').addClass('bs-select');
      });
  </script>

  <!-- Detailed commandments page: Smooth scrolling -->  
  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>

  {% endcache %}
  </body>
</html>