{% load i18n %}

<div class="modal fade" id="changeLanguageModal" tabindex="-1" role="dialog" aria-labelledby="changeLanguageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeLanguageModalLabel">{% trans 'Change languages / Bible translations' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="selectWrapper">
                <form action="{% url 'commandments:language_switch' %}" method="post" id="frmSiteLanguage">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <b>{% trans 'Site language' %}:</b>
                    <div class="select">
                        <select class="drpSelectLanguage selectpicker" id="drpSelectLanguageModal" name="language" data-live-search="false" data-width="100%" data-size="10">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </form> 
            </div>
            <div class="selectWrapper">
                <b>{% trans 'Bible translation' %}:</b>
                <div class="btnBibleTranslation">
                <form action="{% url 'commandments:bible' %}" method="post" id="frmBibleTranslation">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                    <div class="select">
                    <select name="bible_id" class="drpBibleTranslation selectpicker" id="drpBibleTranslation" data-live-search="true" data-width="100%" data-size="10">
                        <!-- In case we switched languages, the currently selected bible might not be present, so add it here -->
                        <option value="{{ user_preferences.bible.id }}" selected>
                            {{ user_preferences.bible.name }} ({{ user_preferences.bible.language }})
                        </option>
                        {% for bible_item in bible_translation.all_in_user_language %}
                            {% if bible_item.id != user_preferences.bible.id %}
                            <option value="{{ bible_item.id }}">
                                {{ bible_item.name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
                </form>
                </div>
                <p><i>{% blocktrans %}With this setting, all Bible references found on this website are displayed with the configured Bible translation. All references are directly called from <a target="_blank" href="https://scripture.api.bible">https://scripture.api.bible</a>, provided by the American Bible Society.{% endblocktrans %}</i></p>
            </div>
            <div class="selectWrapper">
                <b>{% trans 'Limited Kids Website' %}:</b>
                <div class="custom-control custom-checkbox image-checkbox">
                    <input type="checkbox" class="custom-control-input chk-kids-mode" id="chk-kids-mode-2">
                    <label class="custom-control-label" for="chk-kids-mode-2">
                        <img src="/static/images/gizmo.png" alt="#" class="img-fluid">
                    </label>
                </div>
                <p><i>{% trans 'Click on the Robot image to activate the Kids Site' %}</i></p>
                <p><i>{% trans 'When activating the Kids Site, you will find the same steps with limited videos and resources' %}</i></p>
            </div>
            <div class="selectWrapper">
                <b>{% trans 'Media Resource language' %}:</b>     
                <div class="multiselect">
                    <form action="{% url 'commandments:languages' %}" class="frmLanguages" method="post" id="frmLanguages">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path }}">
                        <select id="multiselect" name="languages" multiple class="btnSelectResourceType">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code in user_preferences.languages %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                        <div class="modal-footer">
                            <button class="btn btnSaveLanguages">{% trans 'Save changes' %}</button>
                        </div>                  
                    </form>
                </div>
                <p><i>{% blocktrans %}Within a step, you can find related resources to that step. Resources can be Sermons, Testimonies, Movies, Shortmovies, Songs, Blogs or Books. You can select multiple languages if you like to see resources for specific languages.{% endblocktrans %}</i></p>
            </div>
        </div>
      </div>
    </div>
  </div>
<script>
(function () {
    var languageForm = document.getElementById('frmSiteLanguage');
    var bibleForm = document.getElementById('frmBibleTranslation');
    var mediaLanguagesForm = document.getElementById('frmLanguages');
    var languageSelect = document.querySelector('.drpSelectLanguage');
    var bibleSelect = document.getElementById('drpBibleTranslation');
    var saveButton = document.querySelector('.btnSaveLanguages');
    var bibleTranslationsUrl = "{% url 'commandments:bible_translations_for_language' %}";
    var bibleRefreshPromise = Promise.resolve();

    function refreshPicker(selectElement, options) {
        options = options || {};
        var liveSearch = options.liveSearch !== false;

        if (window.jQuery && jQuery.fn && jQuery.fn.selectpicker) {
            var $select = jQuery(selectElement);
            $select.closest('.select').removeClass('native-combo-enabled');
            $select.siblings('.native-combo-input, .native-combo-datalist, .native-combo-menu').remove();
            if ($select.data('selectpicker')) {
                $select.selectpicker('refresh');
            } else {
                $select.selectpicker({
                    liveSearch: liveSearch,
                    size: 10
                });
            }
            return;
        }

        if (selectElement) {
            selectElement.dispatchEvent(new CustomEvent('jc:native-select-refresh', { bubbles: true }));
        }
    }

    function refreshBibleDropdown(selectedLanguage) {
        bibleSelect.disabled = true;

        return fetch(bibleTranslationsUrl + '?language=' + encodeURIComponent(selectedLanguage))
            .then(function (response) { return response.json(); })
            .then(function (data) {
                bibleSelect.innerHTML = '';
                var blank = document.createElement('option');
                blank.value = '';
                blank.textContent = '';
                bibleSelect.appendChild(blank);

                if (data.bibles.length === 0) {
                    var opt = document.createElement('option');
                    opt.value = '';
                    opt.textContent = '-';
                    bibleSelect.appendChild(opt);
                } else {
                    data.bibles.forEach(function (bible) {
                        var opt = document.createElement('option');
                        opt.value = bible.id;
                        opt.textContent = bible.name;
                        bibleSelect.appendChild(opt);
                    });
                }
                bibleSelect.disabled = false;
                refreshPicker(bibleSelect);
            })
            .catch(function () {
                bibleSelect.disabled = false;
                refreshPicker(bibleSelect);
            });

    }

    function postForm(formElement) {
        var payload = new URLSearchParams(new FormData(formElement));
        var csrfTokenInput = formElement.querySelector('input[name="csrfmiddlewaretoken"]');
        var csrfToken = csrfTokenInput ? csrfTokenInput.value : '';

        return fetch(formElement.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken
            },
            body: payload.toString()
        });
    }

    function postLanguageSwitch(selectedLanguage) {
        var payload = new URLSearchParams();
        var csrfTokenInput = languageForm.querySelector('input[name="csrfmiddlewaretoken"]');
        var csrfToken = csrfTokenInput ? csrfTokenInput.value : '';
        payload.append('language', selectedLanguage);
        payload.append('next', window.location.pathname + window.location.search);
        payload.append('bible_id', bibleSelect.value || '');

        return fetch(languageForm.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrfToken
            },
            body: payload.toString()
        }).then(function (response) {
            if (!response.ok) {
                throw new Error('Language switch failed');
            }
            return response.json();
        });
    }

    languageSelect.addEventListener('change', function () {
        var selectedLanguage = this.value;
        bibleRefreshPromise = refreshBibleDropdown(selectedLanguage);
    });

    refreshPicker(languageSelect, { liveSearch: false });
    refreshPicker(bibleSelect, { liveSearch: true });

    saveButton.addEventListener('click', function (event) {
        event.preventDefault();
        event.stopPropagation();

        saveButton.disabled = true;

        Promise.resolve(bibleRefreshPromise)
            .then(function () {
                return postForm(mediaLanguagesForm);
            })
            .then(function () {
                return postLanguageSwitch(languageSelect.value);
            })
            .then(function (data) {
                if (window.jQuery && jQuery.removeCookie) {
                    jQuery.removeCookie('jc_bible_trans_settings');
                }
                var currentUrl = window.location.pathname + window.location.search + window.location.hash;
                var target = (data && data.redirect_url) ? data.redirect_url : currentUrl;
                window.location.href = target;
            })
            .catch(function () {
                if (window.jQuery && jQuery.removeCookie) {
                    jQuery.removeCookie('jc_bible_trans_settings');
                }
                window.location.reload();
            })
            .finally(function () {
                saveButton.disabled = false;
            });
    });
})();
</script>  