{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="col-md-4">
    <div class="sermon-wrap ftco-animate">
        <div class="img d-flex align-items-center justify-content-center" style="background-image: url('{% if law.primary_drawing %}{{ law.primary_drawing.thumbnail_url }}{% else %}{% static 'images/drawing_placeholder.png' %}{% endif %}');">
            <div class="number-content law-number-content">
                <h3>{{ law.id }}</h3>
            </div>
            <div class="commandment-media-items">
                {% for person_icon in law.ncla_person_icons %}
                    {% if person_icon.code == 'JEW' %}
                        <img
                            class="lom-person-icon"
                            src="{% static 'images/s_jew.png' %}"
                            alt="{{ person_icon.label }}"
                            title="{{ person_icon.label }}"
                        >
                    {% elif person_icon.code == 'MESSIANIC' %}
                        <img
                            class="lom-person-icon"
                            src="{% static 'images/s_messianic.png' %}"
                            alt="{{ person_icon.label }}"
                            title="{{ person_icon.label }}"
                        >
                    {% elif person_icon.code == 'GENTILE' %}
                        <img
                            class="lom-person-icon"
                            src="{% static 'images/s_gentile.png' %}"
                            alt="{{ person_icon.label }}"
                            title="{{ person_icon.label }}"
                        >
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-content p-4 text-center">
                <h3>{{ law.translated_title }}</h3>
                    <p class="mb-2"><span class="law-category-pill">{{ law.translated_category }}</span></p>
                <p>
                    <a href="{% url 'commandments:law_of_messiah_detail' law.id %}" class="btn-custom p-2 text-center">
                        <span class="icon-play"></span>
                        {% trans 'Discover how?!' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
