{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section class="bg-container ftco-daily-verse img" >
    <section class="ftco-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">

                    <span class="subheading">{% trans 'My profile' %}</span>
                    <h2 class="mb-4">{% trans 'My Profile' %}</h2>
                    <p>{% trans 'You can change your profile settings on this page.' %}</p>
                    
                    <form class="bg-light p-4 p-md-5 contact-form" method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <button type="submit" class="button">{% trans 'Save changes' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}