{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout privacy cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'Using' %} walkasjesus.org</span>
                    <h2 class="mb-4"><span>{% trans 'Privacy Policy' %}</span></h2>
                </div>
                <div class="col-md-12 heading-section ftco-animate">
                    {% blocktrans %}

                    <p>We understand that users of the Walk as Jesus website value their privacy. This privacy statement is to inform users about the limited information collected by this website and why it is collected.</p>
                    <p>This Privacy Notice is incorporated into and is subject to the Walk as Jesus <a href="/termsandconditions">Terms and Conditions</a>.</p>

                    <h3><strong>What We Track and Why</strong></h3>
                    <b>Cookies and Log File Information</b>

                    <p>The Walk as Jesus website will store "cookies" on your system to help improve your experience with the website. Many of these cookies relate to customizing your visit. For example, allowing you to set your language, Bible translation and known resource languages. Most Web browsers automatically accept cookies, but these can be disabled by changing the preferences in your internet browser settings. If cookies are disabled however, your experience of the website and its services will be limited.</p>

                    <p>The site also tracks which resources you visit and download. This is for the purpose of providing statistics back to the community and providing you with information on what you have visited. This information is kept entirely anonymous from the rest of the Walk as Jesus community: no other user will ever be told where you are visiting or what you are downloading. The Walk as Jesus team will never analyze your personal browsing habits – we will merely look at the aggregated statistical data (for example, the total number of people visiting a resource, or the number of people visiting this site from a given country, language or culture.)</p>

                    <h3><strong>Registering with the website</strong></h3>

                    <p>In order to post resources, join a community, rate resources or leave comments, you will be required to provide a log in. This is to prevent fraudulent activity by ensuring that such transactions are not anonymous. The information that we collect from user registration will never be used for marketing purposes unless you explicitly request subscription to a particular newsletter or periodical.</p>

                    <p>We do not sell, rent or lease our user lists to third parties, or provide your user information to them in any way without explicit permission from you.</p>

                    <p><i>For more information about our privacy practices, please contact us at: <a href="mailto:info@walkasjesus.org">info@walkasjesus.org</a></i></p>

                    {% endblocktrans %}
                </div>

            </div>
        </div>
    </section>
</section>
{% endcache %}
{% endblock %}