{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
{% cache cache_timeout vision cache_on_language %}
<section class="ftco-daily-verse img" style="background-image:url({% static 'images/bg_1.jpg' %});">
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans 'The reason why we have this website' %}</span>
                    <h2 class="mb-4"><span>{% trans 'Vision' %}</span></h2>
                    <h2 class="mb-4"><span>{{ gen11 }}{{ gen11.text }}</span></h2>
                    <h5 class="mb-4"><span><i>{% trans '"Our goal with this site is to listen to and obey Jesus, explain His teachings, let the people get rooted and be fruitful in the world, to glorify our Father in heaven"' %}</i></span></h5>
                </div>
                <div class="col-md-12 heading-section ftco-animate">
                    <p>
                    {% blocktrans %}
                    When you have discovered who Jesus is and what He has done, you really want nothing more than to follow Him and dedicate your life to Him. But how do you give hands and feet to following Jesus? How can we live the full life? What steps can we take to become more like Him? In John's first epistle, John says:
                    {% endblocktrans %}
                    </p>
                    <p><i>"{{ johnfirstbook_2_6.text }}" ({{ johnfirstbook_2_6 }})</i></p>

                    <p>
                    <strong>{% trans 'Walk as Jesus' %}</strong>. {% trans "That is exactly what we should strive for, and what is the purpose of this website. But what does that mean? Let's read the verses above to have a little more context:" %}</p>
                    
                    <p><i>"{{ johnfirstbook_2_3_6.text }}" ({{ johnfirstbook_2_3_6 }})</i></p>

                    <p>
                    {% blocktrans %}    
                    If we want to walk as Jesus walked, we should follow His steps. Just before going to heaven, after having risen from the dead and showing himself to many people several times, Jesus gave His disciples a commission, also known as the great commission. He commands to teach all the nations and to observe everything that He has commanded. But what did He command? If you read through the gospels and write down all the commandments that Jesus did, you will come up with at least 77 unique steps. All precious gifts, to be applied by you and me. The big summary is to love God and our neighbors, but loving is so deep that it is necessary that we carefully take this apart and let our character be molded to the character that Jesus has. Legal repentance says I have broken God's rules, while true repentance says I have broken God's heart. In John 15:10, Jesus also explicitly says:
                    {% endblocktrans %}
                    </p>
                    
                    <p><i>"{{ joh_15_10.text }}" ({{ joh_15_10 }})</i></p>
                    
                    <p><strong>{% trans "By His Spirit He wants to help us to walk as He walked, step by step" %}...</strong></p>
                    
                    <p><i>"{{ heb_13_20_21.text }}" ({{ heb_13_20_21 }})</i></p>
                    <br>
                    <div class="alert alert-info" role="alert" data-toggle="collapse" data-target="#collapseApproach" aria-expanded="false" aria-controls="collapseApproach">
                        <p><i>{% trans 'Curious how we came to the 77 steps?' %} <strong>{% trans 'Click here to see our approach' %}</strong></i></p>
                    </div>

                    <div class="collapse" id="collapseApproach">
                        <div class="alert alert-info infobox">
                            {% trans 'Here are all the points we took in consideration while studying all the unique steps which Jesus taught' %}:
                            <ul>
                                <li>{% trans 'Read everything Jesus said, starting with Matthew, then Mark, Luke and John' %}.</li>
                                <li>{% trans 'Focus on all commandments Jesus gave, and be aware of the following differences:' %}.</li>
                                <ul>
                                    <b>{% trans 'Is it a "principle" or a "value"?' %}</b>
                                    <li>{% trans 'A "principle" is generic which applies to all generations, no matter what culture, time or place' %}.<br>
                                        <i>{% trans 'By example: "Love your neighbors as yourself" (Matthew 19:19)' %}</i></li>
                                    <li>{% trans 'A "value" is the way how a principle would pack out in a specific culture, time and place. If you have this, you need to derive the principle out of it by studying the context' %}.<br>
                                        <i>{% trans 'By example: "Salute one another with an holy kiss" (Rom 16:16)' %}. {% trans 'The principle is not kiss everybody, but to salute your brothers and sisters in an intimate way, based on your specific culture, time and place' %}.</i></li>
                                    <b>{% trans 'Is it "literal" or "figurative"?' %}</b>
                                    <li>{% trans 'A "literal" commandment is literally what Jesus is saying which you can directly obey and apply' %}.<br>
                                        <i>{% trans 'By example: "Worship the Lord your God, and serve him only" (Matthew 4:10)' %}</i></li>
                                    <li>{% trans 'A "figurative" commandment is descriptive or a parable (Usually a short fictitious story that illustrates a moral attitude or a religious principle)' %}.<br>
                                        <i>{% trans 'By example: "The parable of the Good Samaritan " (Luke 10:29-37)' %}. {% trans 'The principle is to be merciful to those who crosses your paths' %}.</i></li>
                                    <b>{% trans 'Is it "specific" or a "generic"?' %}</b>
                                    <li>{% trans 'There are also some specific commandments which Jesus gave specifically to that person in that time, which will not directly apply for us today' %}.<br>
                                        <i>{% trans 'By example: "Go your way into the village over against you: and as soon as ye be entered into it, ye shall find a colt tied, whereon never man sat; loose him, and bring him." (Mark 11:2)' %}</i></li>
                                    <b>{% trans 'Is it a "negative" or "positive" commandment?' %}</b>
                                    <li>{% trans 'A negative commandment is something you should not do. To all negative commandments, there is an opposite positive commandment. In the unique primary commandments, we mention only positive commandments, while in the references you will also find lots of the opposite negative commandments. So if you have a prohibition, derive the opposite commandment from it' %}.<br>
                                        <i>{% trans 'By example: "That whosoever looketh on a woman to lust after her hath committed adultery with her already in his heart (Matthew 5:28). The negative commandment is to not look with lust to another woman, the commandment is to stay loyal to your partner (Honor marriage) and keep your heart pure' %}.</i></li>
                                    <b>{% trans 'Should you "continually", or "start" doing it?' %}</b>
                                    <li>{% trans 'There is a difference in "immediately start doing it" or "keep continually or habitually doing it"' %}.<br>
                                        <i>{% trans 'By example: "Guard against self-deception, each of you. If someone among you thinks he is wise in this age, let him become foolish so that he can become wise (1 Cor 3:18). The progressive type here is to "Guard continually" and to "become immediately foolish" if you think you are wise' %}.</i></li>
                                    </ul>
                            <b>{% trans 'Is it a "new" or "existing" commandment?' %}</b>
                            <li>{% trans 'If it is new:' %}</li>
                            <ul>
                                <ol type="1">
                                    <li>{% trans 'Add it with its primary Bible reference' %}</li>
                                    <li>{% trans 'Determine a short powerful title which summarizes the commandment. Try to stick as close as possible to the Words of Jesus Himself (Only summarize when necessary)' %}</li>
                                    <li>{% trans 'Determine in which "category" the commandment falls' %}</li>
                                </ol>
                            </ul>
                            <li>{% trans 'If it is an already existing, determine to which existing commandment(s) it should apply' %}'</li>
                                <ul>
                                    <b>{% trans 'Is it a "Primary", "Direct", "Indirect", "Example", "Duplicate", "OT Law", "Wisdom" or "Study" reference?' %}</b>
                                    <li><i>{% trans 'Primary' %}: {% trans 'This Primary Bible reference is a unique Bible reference according to the words of Jesus, which best summarizes the commandment' %}.</i></li>
                                    <li><i>{% trans 'Direct' %}: {% trans 'Extra direct Bible references which expands or explain the same commandment' %}.</i></li>
                                    <li><i>{% trans 'Indirect' %}: {% trans 'Extra, more indirect Bible references, relating to the same commandment' %}.</i></li>
                                    <li><i>{% trans 'Example' %}: {% trans 'In these Bible references you will find examples and testimonies how this commandment is being executed' %}.</i></li>
                                    <li><i>{% trans 'Duplicate' %}: {% trans 'Another Bible reference to more or less the same as the primary, direct or indirect, with not much new information, although it will confirm the same Bible references' %}:</i></li>
                                    <li><i>{% trans 'OT Law' %}: {% trans 'Old Testament Law Bible references which will relate to OT Commandments (Jewish tradition teached that there are 613 commandments or mitzvot in the Torah)' %}:</i></li>
                                    <li><i>{% trans 'Wisdom' %}: {% trans 'Wisdom Bible references will relate to one of the Wisdom Literare Books from the Old Testament' %}:</i></li>
                                    <li><i>{% trans 'Study' %}: {% trans 'Extra Bible references (most often larger parts of Bible books) which are good for extra study on this commandment' %}:</i></li>
                                </ul>
                            <b>{% trans 'Are there more Bible references?' %}</b>
                            <li>{% trans 'With each commandment, extend it with as many as you can find Bible references, both Old and New Testament. Please always study the context, if it is really related to the commandment.' %}</li>
                            </ul>

                            <p><i>{% trans "Maybe you are wondering why we did not study all the commandments in the whole New Testament? Well, the easiest reason why we didn't, is because Jesus commandments didn't include the commandments which other apostles are saying. He said 'teaching them to observe all things that I have commanded you' (Matt 28:20). Of course, the other letters in the NT are still true, valuable and explaining or extending Jesus' teachings, so maybe in the future we will add them to this website as well." %}</i></p>
                        </div>
                    </div>

                    <br>
                    <p><b><i>{% trans 'Bible verses copyright' %}: {{ bible.copyright }}</i></b></p>
                </div>

                </div>
            </div>
        </div>
    </section>
</section>
{% endcache %}
{% endblock %}
