/* Some custom css */

.btnBibleTranslation {
    width: 100%;
}

.btnBibleTranslationStudyPage {
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.drpSelectLanguage {
    width: 100%;
}

.mediasettings {
    margin-left: 22px;
    padding-right: 38px;
    align: center;
}

.selectWrapper {
    margin-top: 5px;
}

.multiselect-container{
    width: 100%;
}

.btnSaveLanguages {
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: rgb(88, 69, 57);
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 3px;
}
.btnSaveLanguages:hover{
    background: #e2b900;
}

.btnMultiSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #fff;
    background-image: none;
    border: 1px solid #000000;
    opacity: 1.0;
    padding: 2px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    border-radius: .25em;
}

.bg-container {
    background-image: url("/static/images/drawing_placeholder.png");
    min-height: 900px; }
  
  /* .bg-container {
    background-color: rgb(194, 194, 194);
    min-height: 1153px; } */
    
  
  .jclogo {
    padding-right: 5px;
  }
  
  .jclogo img {
    width: 50px;
  }
  
  .button {
    border: 1px solid rgb(88, 69, 57) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: rgb(88, 69, 57) !important;
    padding: 10px;
    font-size: 16px;
    background: #e2b900 !important;
    text-transform: uppercase, bold;
    letter-spacing: 3px;
  }
  
  .button:hover {
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.7;
    padding: 10px;
    cursor:pointer;
    font-size: 16px;
    text-transform: uppercase, bold;
    background: transparent !important;
    letter-spacing: 3px;
    color: rgb(88, 69, 57) !important; }

/* Detailed commandments page: boxes */
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    background: #ffffff none repeat scroll 0 0;
    opacity: 0.8;
    border: 2px solid #e2b900;
    margin-left: 22px;
    transition: .3s;
    border-radius: 10px;
    position: relative;
    padding: 15px;
}

.our-services-img {
    margin-left: -52px;
}

.our-services-text {
    padding: 15px;
    margin-top: -70px;
}

.mediasettings {
    margin-bottom: 73px;
}

.resource-settings {
    margin-top: 53px;
}

.alert-resource-settings {
    margin-bottom: -14px;
    padding-bottom: 30px;
}

.btnResourceSettings {
    float:right;  
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(88, 69, 57);
    font-size: 12px;
    text-transform: uppercase;
    background: #e2b900;
    letter-spacing: 3px;
}
.btnResourceSettings:hover{
    background: transparent;
}

.btnResourceSettings a {
    color: rgb(58, 51, 45);
}

.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #e2b900 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #ffffff none repeat scroll 0 0;
    opacity: 1.0;
    border: 2px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.our-services-text p {
    margin-bottom: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

.video-iframe {
    position: relative;
    padding-top:56.25%;
}

.infobox {
    text-align: left;    
}

.contact-form {
    text-align: left;
}


.contact-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e2b900;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.contact-form input:focus {
    border: 2px solid #e2b900;
}