/* Some custom css */

.btnBibleTranslation {
    width: 100%;
}

.btnBibleTranslationStudyPage {
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.drpSelectLanguage {
    width: 100%;
}

.mediasettings {
    margin-left: 22px;
    padding-right: 38px;
    align: center;
}

.selectWrapper {
    margin-top: 5px;
}

.multiselect-container{
    width: 100%;
}

.btnSaveLanguages {
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: rgb(88, 69, 57);
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 3px;
}
.btnSaveLanguages:hover{
    background: #e2b900;
}

.btnMultiSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #fff;
    background-image: none;
    border: 1px solid #000000;
    opacity: 1.0;
    padding: 2px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    border-radius: .25em;
}

.bg-container {
    background-image: url("/static/images/drawing_placeholder.png");
    min-height: 900px; }
  
  /* .bg-container {
    background-color: rgb(194, 194, 194);
    min-height: 1153px; } */
    
  
  .jclogo {
    padding-right: 5px;
  }
  
  .jclogo img {
    width: 50px;
  }
  

.logodiv {
    position: relative;
}

.logodiv-subtitle {
    position: absolute;
    bottom: 3px;
    right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e2b900;
    /* white-space: nowrap; */
}

.ftco-navbar-light.scrolled .logodiv-subtitle {
    font-size: 9px;
}

  .button {
    border: 1px solid rgb(88, 69, 57) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: rgb(88, 69, 57) !important;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    text-transform: uppercase;
    background: #e2b900 !important;
    letter-spacing: 1px;
  }
  
  .button:hover {
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.7;
    cursor:pointer;
    background: transparent !important;
    letter-spacing: 1px;
    color: rgb(88, 69, 57) !important; }

/* Detailed commandments page: boxes */
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    background: #ffffff none repeat scroll 0 0;
    opacity: 0.8;
    border: 2px solid #e2b900;
    margin-left: 22px;
    transition: .3s;
    border-radius: 10px;
    position: relative;
    padding: 15px;
}

.our-services-img {
    margin-left: -52px;
}

.our-services-text {
    padding: 15px;
    margin-top: -70px;
}

.mediasettings {
    margin-bottom: 73px;
}

.resource-settings {
    margin-top: 53px;
}

.alert-resource-settings {
    margin-bottom: -14px;
    padding-bottom: 30px;
}

.btnResourceSettings {
    float:right;  
    border: 1px solid #e2b900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: rgb(88, 69, 57);
    font-size: 12px;
    text-transform: uppercase;
    background: #e2b900;
    letter-spacing: 3px;
}
.btnResourceSettings:hover{
    background: transparent;
}

.btnResourceSettings a {
    color: rgb(58, 51, 45);
}

.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #e2b900 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #ffffff none repeat scroll 0 0;
    opacity: 1.0;
    border: 2px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.our-services-text p {
    margin-bottom: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

.video-iframe {
    position: relative;
    padding-top:56.25%;
}

.infobox {
    text-align: left;    
}

.contact-form {
    text-align: left;
}

.contact-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e2b900;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}

.contact-form input:focus {
    border: 2px solid #e2b900;
}

/* Create a custom checkbox */
.contact-form .checkbox {
  height: 10px;
  width: 10px;
}

.background-quote {
    border: 1px solid #e2b900;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    padding-top: 10px;
    text-align: center;
}

.background-quote span {
    font-family: "Great Vibes", cursive;
    font-size: 27px;
}

.vision-author {
    text-align: right;
}

.negative_list {
    list-style-image: url('/static/images/negative.png');
}

.negative_list_title {
    color: red;
}

.positive_list {
    list-style-image: url('/static/images/positive.png');
}

.positive_list_title {
    color: green;
}

.pos_neg_list {
    list-style-image: url('/static/images/pos_neg.png');
}

.unknown_list {
    list-style-image: url('/static/images/question.png');
}

.israel_list {
    list-style-image: url('/static/images/israel.png');
}

.commandment_id {
    background-image: url('/static/images/our-services-img.png');
    background-repeat: no-repeat;
    width: 65px;
}

.commandment_id h3 {
    font-size: 30pt;
    font-family: "Great Vibes";
    font-weight: bold;
    margin-left: -5px;
    text-align: center;
    padding: 5px 7px;
}

.btn-superbook {
    padding: 0px;
    margin-left: 5px;
    margin-top: -15px;
    height: 50px;
    margin-bottom: 5px;
}

.btn-change-bible {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 180px;
}

.custom-control.image-checkbox {
    position: relative;
    padding-left: 0;
  }
  
  .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:after, .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    opacity: 1;
  }
  
  .custom-control.image-checkbox label {
    cursor: pointer;
  }
  
  .custom-control.image-checkbox label:before {
    border-color: #e2b900;
    background-color: #e2b900;
  }
  
  .custom-control.image-checkbox label:after, .custom-control.image-checkbox label:before {
    transition: opacity .3s ease;
    opacity: 0;
    left: .25rem;
  }
  
  .custom-control.image-checkbox label:focus, .custom-control.image-checkbox label:hover {
    opacity: .8;
  }
  
  .custom-control.image-checkbox label img {
    border-radius: 2.5px;
  }
  
  .form-group-image-checkbox.is-invalid label {
    color: #dc3545;
  }
  
  .form-group-image-checkbox.is-invalid .invalid-feedback {
    display: block;
  }

  /* Commandment overview */

  .commandment-media-items {
    bottom: 16px;
    position: absolute;
    right: 16px;
  }

  .commandment-media-items img {
    width: 40px;
    height: 40px;
    opacity: .6;
  }