{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Bible cache management' %}</h1>

<form action="{% url 'commandments:admin_reset_bibles' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">
    <input type="submit" value="{% trans 'Clear bible list cache' %}">
</form>
<br />
<br />
<h1>{% trans 'Bibles available' %}</h1>
<table>

    <tr>
        <th>{% trans 'Bible' %}</th>
        <th>{% trans 'Language' %}</th>
        <th>{% trans 'Enabled' %}</th>
        <th>{% trans 'Percentage cached' %}</th>
    </tr>
    {% for bible in bibles %}
    <tr>
        <td>{{ bible.name }}</td>
        <td>{{ bible.language }}</td>
        <td>{{ bible.enabled }}</td>
        <td>{{ bible.percentage_cached|floatformat:0 }}</td>        
    </tr>
    {% endfor %}
</table>
{% endblock %}